<% @stylesheets << 'login' %>

<div class="shibboleth-login">
  <p class="hint">If you have a user account in Aalto university, use Aalto weblogin</p>
  <p>
    <%= link_to 'Aalto weblogin', "/Shibboleth.sso/aalto?target=" + url_for(:action => 'shibboleth', :controller => 'sessions', :only_path => false, :protocol => 'https') %>
  </p>
</div>

<div class="haka-login">
  <p class="hint">If you have a user account in some other Finnish university, use Haka login</p>
  <%= link_to(image_tag('haka_portrait_large.gif', {:alt => '[Haka Login]'}), "/Shibboleth.sso/DS?target=" + url_for(:action => 'shibboleth', :controller => 'sessions', :only_path => false, :protocol => 'https'))%>
</div>

<div class="traditional-login">
  <p class="hint">Log in using a local account (test accounts)</p>

  <% form_tag session_path do %>
    <table id='traditional-login'>
      <tr>
        <td style="text-align: right"><label for="login">Student number</label></td>
        <td><%= text_field_tag 'studentnumber', nil, :size => 8 %></td>
      </tr>
      <tr>
        <td style="text-align: right"><label for="password">Password</label></td>
        <td><%= password_field_tag 'password', nil, :size => 8 %></td>
      </tr>
      <tr>
        <td style="text-align: right"><label for="remember_me">Remember me</label></td>
        <td><%= check_box_tag 'remember_me' %></td>
      </tr>
      <tr>
        <td style="text-align: right"><%= submit_tag 'Log in' %></td>
        <td></td>
      </tr>
    </table>

  <% end %>
</div>
