<% content_for :javascript do %>
  <%= javascript_tag do %>
    window.group_data = <%= @groups_json.to_json( root: false ).html_safe %>;
  <% end %>
  <%= javascript_include_tag 'assignmentEditor.js' %>
<% end %>

<div class="page-header">
  <h1><%= "#{@course.code} #{@course.name} - #{@course_instance.name}" %></h1>
</div>

<!-- Tabs -->
<!--
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to 'Assign groups to reviewers', course_instance_groups_path(@course_instance) %></li>
    <li><%= link_to 'Batch upload', batch_course_instance_groups_path %></li>
  </ul>
</div>
-->

<!-- Hints -->
<% if @course_instance.groups.empty? %>
  <div class="alert alert-info">
    There are no student groups yet. After students have formed groups, you can assign groups to reviewers here.
  </div>
<% elsif @course_instance.assistants.empty? %>
  <div class="alert alert-info">
    Here you can assign groups to reviewers. If the course has no teaching assistants, you can skip this step. Users with teacher's privileges can review any groups without being specifically assigned.
  </div>
<% else %>
  <div class="hint">
    <ul>
      <li>Teaching assistants can only see groups that are assigned to them.</li>
      <li>Teachers can see and review all groups.</li>
    </ul>
  </div>
<% end %>

<div class="row-fluid busy" id="assign-groups">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Members</th>
        <th>Reviewers</th>
        <th></th>
      </tr>
    </thead>
    <tbody data-bind="foreach: { data: groups, as: 'group' }">
      <tr>
        <td>
          <input type="checkbox" data-bind="checked: selected" />
        </td>
        <td>
          <span data-bind="text: name"></span>
          <!--a data-bind="text: name, attr: {href: url}"></a-->
        </td>
        <td data-bind="foreach: reviewers">
          <span class="label label-info">
            <span data-bind="text: name"></span> <a class="removeAssignment" href="#">&times;</a>
          </span>
        </td>
        <td class="hover-buttons">
          <button class="btn btn-small" data-bind="click: clickAssign">Add reviewer...</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>  

<!-- Buttons -->
<div class="row form-inline">
  <div class="span6">
    <p>
      <button class="btn" data-bind="click: clickSelectAll">Select all</button>
      <button class="btn" data-bind="click: clickSelectNone">Select none</button>
    </p>
    
    <p>
      Assign selected groups to
      
      <select data-bind="value: currentReviewer">
        <option value="assistants">Assistants evenly</option>
        <option value="evenly">All staff evenly</option>
        <!-- ko foreach: reviewers -->
        <option data-bind="text: name, value: id"></option>
        <!-- /ko -->
      </select>
      
      <button class="btn" data-bind="click: clickAssign">Assign</button>
    </p>
    
    <p><button id="save-button" class="btn btn-success btn-large" data-bind="click: clickSave">Save</button></p>
  </div>
  
  <!-- Workload -->
  <div class="span6 well">
    <h2>Workload</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Reviewer</th>
          <th>Groups</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: reviewers">
        <tr>
          <td><span data-bind="text: name" /></td>
          <td><span data-bind="text: assignments().length" /></td>
        </tr>
      </tbody>
    </table>
    
    <p>Total groups: <span data-bind="text: groups.length"></span></p>
  </div>
</div>

<!-- Assign modal -->
<div id="modalAssign" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Assign group to reviewer</h3>
  </div>
  <div class="modal-body">
    <p>Assign group to</p>
    <ul data-bind="foreach: reviewers">
      <li><a href="#" data-bind="click: $root.clickModalAssign"><span data-bind="text: name" /></a></li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
