<!-- groups/new.html.erb -->

<div class="page-header">
  <h1>Create a group for <%= "#{@course.code} #{@course.name} / #{@course_instance.name} / #{@exercise.name}" %></h1>
</div>

<p class="hint">Please enter the email addresses of other group members. If you do not know their addresses, you can enter them later. You can change your own email address in <emph>My preferences</emph>.</p>

<div>
  <%= form_for [@exercise, @group] do |f| %>
    <%= f.hidden_field :exercise_id, :value => @exercise.id %>
    <%= f.hidden_field :course_instance_id, :value => @course_instance.id %>

    <h2>Group members</h2>

    <table>
      <tbody>
        <% if logged_in? %>
          <tr>
            <td>
              <%= current_user.email %>
            </td>
          </tr>
        <% end %>
        <% (0...@email_fields_count).each do |i| %>
          <tr>
            <td>
              <%= text_field_tag "email[#{i}]", @email[i], :id => "email_#{i}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p><%= f.submit 'Create' %></p>

  <% end %>
</div>
