<!-- groups/new.html.erb -->

<h1>Create a group for <%= "#{h @course.code} #{h @course.name} / #{h @course_instance.name} / #{h @exercise.name}" %></h1>

<div style="float: left">
  <%= error_messages_for :submission %>

  <% form_for @group do |f| %>
    <%= f.hidden_field :exercise_id, :value => @exercise.id %>
    <%= hidden_field_tag :exercise, params[:exercise] %>

    <h2>Group members</h2>

    <table>
      <thead>
        <tr>
          <td>Studentnumber</td>
          <td>Email</td>
        </tr>
      </thead>
      <tbody>
        <!-- Users-->
        <% (0...@exercise.groupsizemax).each do |i| %>
          <tr>
            <td>
              <%= text_field_tag "studentnumber[#{i}]", @studentnumber[i] %>
            </td>
            <td>
              <%= text_field_tag "email[#{i}]", @email[i], :id => "email_#{i}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p><%= f.submit 'Create' %></p>

  <% end # form_for
  %>
</div>
