<!-- users/show.html.erb -->

<div class="page-header">
  <% if @user == current_user %>
    <h1>Preferences</h1>
  <% else %>
    <h1>Edit user</h1>
  <% end %>
</div>

<%= form_for @user do |f| %>
  <table>
    <tr>
      <td>Studentnumber:</td>
      <td><%= @user.studentnumber %></td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td>First name:</td>
      <td><%= f.text_field :firstname %></td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td><%= f.text_field :lastname %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Update", :class => 'btn btn-primary' %></td>
    </tr>
  </table>
<% end %>
