<h1>Sign up</h1>

<div>
  <p>If you have a user account in a Finnish institute, you can use Haka Login:</p>

  <%= link_to image_tag('haka_portrait_large.gif', :alt => 'Haka login'), "/Shibboleth.sso/DS?target=" + url_for(:action => 'shibboleth', :controller => 'sessions', :only_path => false, :protocol => 'https', :demo => true) %>
</div>


<p style="margin-top: 2em;">Alternatively, you can create a separate Rubyric account:</p>

<%= form_for @user do |f| %>
  <!--%= @user.error_messages %-->

  <table>
    <tr>
      <td>E-mail:</td>
      <td><%= f.text_field :email %></td>
      <td>
        <% if @user.errors[:email] %>
          <%= @user.errors[:email][0] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>First name:</td>
      <td><%= f.text_field :firstname %></td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td><%= f.text_field :lastname %></td>
    </tr>
    <tr>
      <td>Choose a password</td>
      <td><%= f.password_field :password %></td>
      <td>
        <% if @user.errors[:password] %>
            <%= @user.errors[:password][0] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Confirm password</td>
      <td><%= f.password_field :password_confirmation %></td>
      <td>
        <% if @user.errors[:password_confirmation] %>
          <%= @user.errors[:password_confirmation][0] %>
        <% end %>
      </td>
    </tr>
  </table>

  <%= f.submit 'Sign up' %>
<% end %>


<!--p class="petit">* I agree to the <%= link_to 'terms and conditions', root_url + 'privacy_fi.html', :target => '_blank' %>.</p-->
