<% content_for :javascript do %>
  <%= javascript_include_tag 'views/users/new' %>
<% end %>


<div class="page-header">
  <h1>If you already have an account, please log in now</h1>
</div>

<div class="row">
  <div class="col-sm-6">
  </div>
</div>


<div class="page-header">
  <h1>Create a new account</h1>
</div>

<%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
  <!--%= @user.error_messages %-->

  <div class="row">
    <div class="col-sm-6">
      <% if @email_taken %>
        <!-- Email taken -->
        <div class="alert alert-warning">
          <%= form_tag password_resets_path, :class => 'form-inline' do %>
            <%= hidden_field_tag :email, @user.email %>
            <p>You already seem to have an account.</p>
            <%= submit_tag 'Forgot password', :class => 'btn btn-default' %>
            <%= link_to 'Sign in', new_session_path, :class => 'btn btn-default' %>
          <% end %>
        </div>
      <% end %>
      
      <!-- User -->
      <div class="form-group">
        <%= f.label :email, 'Email', :class => 'col-sm-4 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :email, :class => 'form-control' %>
        </div>
          
        <% if @user.errors[:email] %>
          <span class="help-block"><%= @user.errors[:email][0] %></span>
        <% end %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, 'Choose a password', :class => 'col-sm-4 control-label' %>
        <div class="col-sm-6">
          <%= f.password_field :password, :class => 'form-control' %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm password', :class => 'col-sm-4 control-label' %>
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, :class => 'form-control' %>
        </div>
        <% if @user.errors[:password_confirmation] %>
          <%= @user.errors[:password_confirmation][0] %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Course info -->
  <h2>Course information</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag :course_name, 'Course name', :class => 'col-sm-4 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag :course_name, @course_name, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :instance_name, 'Course instance', :class => 'col-sm-4 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag :instance_name, @course_instance_name, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-muted">
      You can change these later.
    </div>
  </div>
  
  <!-- Number of students -->
  <div class="row">
    <div class="col-sm-12">
      <h2>Set the preliminary number of students</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <%= render 'orders/calculator' %>
    </div>
    <div class="col-sm-6 text-muted">
      <p>
        You can pay after the final number of students is known.<br />
        If the number of students exceeds what you have set here, you have the option to:
      </p>
      <ul>
        <li>download and remove excess submissions from the server or</li>
        <li>upgrade the plan</li>
      </ul>
    </div>
  </div>
  
  <!-- Terms and conditions -->
  <div class="row">
    <div class="col-sm-12">
      <h2>Terms and conditions</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div style="width: 100%; height: 30ex; overflow: scroll; border: 1px solid black; font-size: small;">
        Following information of students is stored in the system: name, email address, student id, submissions, grades
        Any identifying information of students (including submissions) are stored for six months after the last deadline of the course and then deleted.
        User information is not conveyed to third parties unless required by a public authority.
        By The Mark can use anonymized user information for research purposes.
        In case of service breaks lasting more than 36 hours in a calendar month, the compensation will be 10 % of the paid price of the service for each starting 36 hour period.
        The compensation or liability of any damage will be at most the total price of the service. In no event will By The Mark be liable to client for any indirect damages, including any lost profits, lost savings or other incidental, consequential or special damages arising out of the operation or of inability to operate Clients' site or any or any of its web pages, even if By The Mark has been advised of the possibility of such damages.
      </div>
    </div>
    <div class="col-sm-6 text-muted">
      In a nutshell:
      <ul>
        <li>Any identifying information of students (including submissions) are stored for six months after the last deadline of the course and then deleted.</li>
        <li>User information is not conveyed to third parties unless required by a public authority.</li>
        <li>The compensation or liability of any damage will be at most the total price of the service. By The Mark will not be liable for any indirect damages.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      
    
      <div class="form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <label>
              <%= check_box_tag :agree, false %>
              I agree to the terms and conditions
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <p><%= f.submit 'Create course', :class => 'btn btn-lg btn-primary' %></p>
  
  <p><%= link_to t(:Cancel), root_path %></p>
<% end %><!-- /form -->  

<% if false %>
  <!-- Haka -->
  <div class="span6">
    <div>
      <p class="hint">If you have a user account in a Finnish institute, you can use Haka Login instead:</p>

      <%= link_to image_tag('haka_portrait_large.gif', :alt => 'Haka login'), "/Shibboleth.sso/DS?target=" + url_for(:action => 'shibboleth', :controller => 'sessions', :only_path => false, :protocol => 'https', :demo => true) %>
    </div>
  </div>
<% end %>

<!--p class="petit">* I agree to the <%= link_to 'terms and conditions', root_url + 'privacy_fi.html', :target => '_blank' %>.</p-->
