<%= form_for([@course, @course_instance], :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="control-group">
    <%= f.label :name, t(:instance_name_label), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
      <% if @course_instance.errors[:name].empty? %>
        <span class="hint"><%=t :instance_name_hint, :year => Time.now.year %></span>
      <% else %>
        <span class="error"><%= @course_instance.errors[:name][0] %></span>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :submission_policy, t('.submission_policy_label'), :class => 'control-label' %>
    <div class="controls">
      <label class="radio">
        <%= f.radio_button :submission_policy, 'unauthenticated' %>
        <%=t '.policy_unauthenticated' %>
      </label>
      <label class="radio">
        <%= f.radio_button :submission_policy, 'authenticated' %>
        <%=t '.policy_authenticated' %>
      </label>
      <label class="radio">
        <%= f.radio_button :submission_policy, 'enrolled' %>
        <%=t '.policy_enrolled' %>
        <% if @course_instance.new_record? %>
          <%=t '.policy_provide_list' %>
        <% else %>
          <%= link_to t('.policy_provide_list_link'), batch_course_instance_groups_path(@course_instance), :target => '_blank' %>
        <% end %>
      </label>
    </div>
  </div>
  <% unless @course_instance.new_record? %>
    <div class="control-group">
      <%= f.label :active, t(:instance_active_label), :class => 'control-label' %>
      <div class="controls">
        <label>
          <%= f.check_box :active %>
          <%=t :instance_active_hint %>
        </label>
      </div>
    </div>
  <% end %>
  
  <div class="control-group">
    <div class="controls">
      <% if @course_instance.new_record? %>
        <%= link_to t(:Cancel), @course, :class => 'btn' %>
        <%= f.submit t(:Create), :class => 'btn btn-primary' %>
      <% else %>
        <%= link_to t(:Cancel), @course_instance, :class => 'btn' %>
        <%= f.submit t(:Save), :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  
  
<% end %>
