<tr id="user<%= user.id %>">
  <td><%= check_box_tag("selector#{user.id}", value = '1', false, {:class => 'check'}) %>
  <td><%= h(user.studentnumber) %></td>
  <td><%= h(user.name) %></td>
  <td><%= h(user.email) %></td>
</tr>
