<!-- course_instance/show.html.erb -->

<h1><%= "#{@course.code} #{@course.name} - #{@course_instance.name}" %></h1>

<% unless @course_instance.description.blank? %>
  <p><%= @course_instance.description %></p>
<% end %>


<h2><%=t :instance_exercises_heading %></h2>
<table>
  <% if @course_instance.exercises.empty? %>
    <p><%=t :instance_no_exercises %></p>
  <% else %>
    <% @course_instance.exercises.each do |exercise| %>
      <tr>
        <td><%= link_to exercise.name, exercise %></td>
        <td>
          <% unless exercise.deadline.nil? %>
            <%=l exercise.deadline, :format => :short %>
          <% end %>
        </td>
        <% if @allow_edit %>
          <td><%= link_to exercise, :confirm => 'Are you sure?', :method => :delete do image_tag('trash.png', :alt => 'Destroy') end %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<% if @allow_edit %>
  <p><%= link_to t(:instance_create_exercise), new_course_instance_exercise_path(@course_instance), :class => 'new' %></p>
<% end %>


<% if @allow_edit %>
  <h2><%=t :instance_people_heading %></h2>

  <p><%= @course_instance.students.length %> <%=t :instance_n_students %>
    <%= link_to t(:Edit), course_instance_students_path(@course_instance), :class => 'edit' %>
  </p>

  <p><%= @course_instance.assistants.length %> <%=t :instance_n_assistants %>
    <%= link_to t(:Edit), course_instance_assistants_path(@course_instance), :class => 'edit' %>
  </p>
<% end %>
