<!-- course_instance/show.html.erb -->
<div class="page-header">
  <h1><%= "#{@course.full_name} - #{@course_instance.name}" %></h1>
</div>


  
<!-- Exercises -->
<% if @course_instance.exercises.empty? %>
  <div class="alert alert-info">
    <%=t '.no_exercises' %>
  </div>
<% else %>
  <div class="row-fluid">
    <div class="span4">
      <!--h2><%=t :instance_exercises_heading %></h2-->
      <table class="table">
        <thead>
          <tr>
            <th>Assignment</th>
            <th>Deadline</th>
            <th>Group size</th>
            <% if can? :update, @course %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @course_instance.exercises.each do |exercise| %>
            <tr>
              <td><%= link_to exercise.name, exercise %></td>
              <td>
                <% unless exercise.deadline.nil? %>
                  <%=l exercise.deadline, :format => :short %>
                <% end %>
              </td>
              <td>
                <% if exercise.groupsizemax > exercise.groupsizemin %>
                  <%= exercise.groupsizemin %> - <%= exercise.groupsizemax %>
                <% else %>
                  <%= exercise.groupsizemin %>
                <% end %>
              </td>
              <% if can? :update, @course %>
                <td><%= link_to exercise, :confirm => "Delete #{exercise.name}?", :method => :delete do image_tag('trash.png', :alt => 'Delete', :title => 'Delete') end %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if can? :update, @course %>
  <p>
    <%= link_to new_course_instance_exercise_path(@course_instance), :class => 'btn btn-default' do %>
      <i class="icon icon-plus"></i> <%= t(:instance_create_exercise) %>
    <% end %>
  </p>
  
  <% if @course_instance.feedback_delivery_mode == 'bundle_mail' %>
    <%= form_tag course_instance_send_feedback_bundle_path(@course_instance.id) do %>
      <%= button_tag({:type => 'submit', :confirm => 'Send feedback mails?', :class => "btn btn-default", :title => 'Sends one email for each student containing feedback from all assignments'}) do %>
        <i class="icon-envelope"></i> Send bundled feedback mails
      <% end %>
    <% end %>
  <% end %>
<% end %>


<% if @is_teacher %>
  <hr />
  <div class="row-fluid">
    <!-- Reviewers -->
    <div class="span3 well">
      <h2>Reviewers</h2>
      <p class="hint">Reviewers (e.g. teaching assistants) can access submissions assigned to them.</p>
      <ul id="reviewers">
        <% if @course_instance.assistants.empty? %>
          <li>No reviewers</li>
        <% else %>
          <% @course_instance.assistants.each do |user| %>
            <li><%= user.name %></li>
          <% end %>
        <% end %>
      </ul>

      <%= link_to 'Set reviewers', course_instance_reviewers_path(@course_instance) %>
    </div>
    
    <!-- Students -->
    <div class="span3 well">
      <h2>Students</h2>
      <p><%= link_to course_instance_students_path(@course_instance) do %><%= @course_instance.students.size %> students<% end %></p>
    </div>
    
    <!-- Groups -->
    <div class="span3 well">
      <h2>Groups</h2>
      <p><%= link_to course_instance_groups_path(@course_instance) do %><%= @course_instance.groups.size %> groups<% end %></p>
    </div>
  </div>
<% end %>
