<div class="page-header">
  <h1><%= "#{@course.code} #{@course.name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<% if @available_groups.empty? %>  
  <% if @exercise.groupsizemax > 1 && !@is_teacher %>
    <p><%=t '.select_group_hint', :min => @exercise.groupsizemin, :max => @exercise.groupsizemax %></p>
  <% end %>
<% else %>
  <h2><%=t '.select_group_heading' %></h2>
  
  <ul>
    <% @available_groups.each do |group| %>
      <li><%= link_to group.name, submit_path(:exercise => @exercise.id, :group => group.id) %></li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to t('.create_button'), new_exercise_group_path(:exercise_id => @exercise.id), :class => 'btn' %></p>
