<!-- submissions/aplus-submit.html.erb -->
<% content_for(:meta) do %>
  <meta name="max-points" value="<%= @exercise.max_grade.to_i || 0 %>" />
  <meta name="DC.title" value="<%= @exercise.name %>" />
  <meta name="DC.Description" value="" />
<% end %>

<div class="page-header">
  <h1><%= "#{@course.full_name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<div id="exercise">
  <!-- Upload -->
  <form action="" method="post" enctype="multipart/form-data">
    <% if @exercise.submission_type.blank? || @exercise.submission_type.include?('file') %>
      <h2><%=t 'submissions.new.submit_heading_file' %></h2>
    <% else %>
      <h2><%=t 'submissions.new.submit_heading' %></h2>
    <% end %>
    
    <% unless @exercise.submit_pre_message.blank? %>
      <p><%= @exercise.submit_pre_message.html_safe %></p>
    <% end %>

    <% if @exercise.submission_type.blank? || @exercise.submission_type.include?('file') %>
      <p><%= file_field_tag 'file' %></p>
    <% end %>
    
    <% if @exercise.submission_type.include?('textarea') %>
      <p><%= text_area_tag :payload, @submission.payload, :rows => 5, :style => 'width: 100%' %></p>
    <% end %>
    
    <p><%= submit_tag t('submissions.new.submit_button'), :class => 'btn btn-primary' %></p>
  </form>
</div>
  