<!-- submissions/aplus-submit.html.erb -->
<% content_for(:meta) do %>
  <meta name="max-points" value="<%= @exercise.max_points %>" />
  <meta name="DC.title" value="<%= @exercise.name %>" />
  <meta name="DC.Description" value="<%= @exercise.submit_pre_message %>" />
<% end %>

<div class="page-header">
  <h1><%= "#{@course.full_name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<div id="exercise">
  <% unless @exercise.submit_pre_message.blank? %>
    <p><%= @exercise.submit_pre_message %></p>
  <% end %>

  <!-- Upload -->
  <form action="" method="post" enctype="multipart/form-data">
    <h2><%=t 'submissions.new.submit_heading' %></h2>
    <p><%= file_field_tag 'file' %></p>

    <p><%= submit_tag t('submissions.new.submit_button'), :class => 'btn btn-primary' %></p>
  </form>
</div>
  