<% content_for(:meta) do %>
  <meta name="max-points" value="<%= @exercise.max_points %>" />
  <meta name="DC.title"><%= @exercise.name %></meta>
  <meta name="DC.Description"><%= @exercise.submit_pre_message %></meta>
<% end %>

<!-- submissions/new.html.erb -->

<div class="page-header">
  <h1><%= "#{@course.code} #{@course.name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<% unless @exercise.submit_pre_message.blank? %>
  <p><%= @exercise.submit_pre_message %></p>
<% end %>


  <!-- Group -->
  <% if @exercise.groupsizemax > 1 %>
    <div class="row-fluid">
      <div class="span4">

        <h2>Group members</h2>
        <table class="table">
          <thead>
            <tr>
              <td>Name</td>
              <td>Email</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% @group.users.each do |student| %>
              <tr>
                <td><%= student.name %></td>
                <td><%= student.email %></td>
                <td></td>
              </tr>
            <% end %>
            <% @group.group_invitations.each do |invitation| %>
              <tr>
                <td></td>
                <td><%= invitation.email %></td>
                <td>(invited)</td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <p>
          <%= link_to 'Edit group', edit_exercise_group_path(:exercise_id => @exercise.id, :id => @group.id), :class => 'btn' %>
          <!--
          <%= link_to 'Create new group', new_exercise_group_path(:exercise_id => @exercise.id), :class => 'btn' %>
          <% if @available_groups.size > 1 %>
            <%= link_to 'Choose another group', exercise_groups_path(:exercise_id => @exercise.id) %><br />
          <% end %>
          -->
        </p>
      </div>
    </div>
  <% end %>

  
  <!-- Submissions -->
  <% unless @submissions.empty? %>
    <h2>Submissions</h2>
    <table>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%=l submission.created_at, :format => :long %></td>
          <td>(<%= link_to "#{submission.extension}", submission %>)</td>
          <td>
            <% submission.reviews.each do |review| %>
              <% if review.status == 'mailed' %>
                <%= link_to 'Feedback', review %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <hr />
  <% end %>

  
<%= form_for @submission, :html => { :multipart => true } do |f| %>
  <%= f.hidden_field :exercise_id, :value => @exercise.id %>
  <% if @group %>
    <%= f.hidden_field :group_id, :value => @group.id %>
  <% end %>

  <!-- Upload -->
  <h2>Submit file</h2>
  <div id="exercise">
    <p><%= file_field_tag 'file' %></p>

    <p><%= f.submit 'Submit', :class => 'btn btn-primary' %></p>
  </div>

<% end %> <!-- /form -->

<% if @is_teacher %>
  <%= link_to t(:Back), @exercise %>
<% end %>
