<!-- submissions/new.html.erb -->

<h1>Thank you for your submission</h1>

<% if @submission.late? %>
  Submission was late.<br />
  <table>
    <tr><td>Deadline was</td><td><%= @exercise.deadline %></td></tr>
    <tr><td>Submission was received at</td><td><%= @submission.created_at %></td></tr>
  </table>
<% end %>

<% unless @exercise.submit_post_message.blank? %>
  <p><%= @exercise.submit_post_message %></p>
<% end %>


<h2>Your submissions:</h2>
<p>
  <% @submission.group.submissions.each do |submission| %>
    <%= submission.created_at %>
    <% if logged_in? %>
      (<%= link_to "#{submission.filename || submission.extension}", {:controller => 'submissions', :action => 'show', :id => submission.id} %>)<br />
    <% else %>
      (<%= "#{submission.filename || submission.extension}" %>)<br />
    <% end %>
  <% end %>
</p>
