<!-- frontpage/course_instances.html.erb -->

<!-- Not enrolled -->
<% if @courses_teacher.size < 1 && @instances_assistant.size < 1 && @instances_student.size < 1 %>
  <div class="page-header">
    <h1 id="enroll-info"><%=t :frontpage_not_enrolled_heading %></h1>
  </div>

  <%=t :frontpage_not_enrolled_info_html, path: new_course_path %>
<% end %>

<!-- As teacher -->
<% unless @courses_teacher.empty? %>
  <div class="page-header">
    <h1 id='courses-teacher'><%=t :frontpage_courses_teacher_heading %></h1>
  </div>

  <p>
  <table>
    <% @courses_teacher.each do |course| %>
      <tr>
        <td><%= link_to course.code, course %></td>
        <td><%= link_to course.name, course %></td>

        <% course.active_instances.each do |instance| %>
          <tr>
            <td></td>
            <td><%= link_to instance.name, instance %></td>
          </tr>
        <% end %>
      </tr>
    <% end %>
  </table>
  </p>

  <p><%= link_to t(:frontpage_create_course_link), new_course_path, :class => 'btn btn-primary' %></p>
<% end %>

<!-- As assistant -->
<% unless @instances_assistant.empty? %>
  <div class="page-header">
    <h1 id='courses-assistant'><%=t :frontpage_courses_assistant_heading %></h1>
  </div>
  <ul>
  <% @instances_assistant.each do |instance| %>
    <li><%= link_to "#{instance.course.name} (#{instance.name})", instance %></li>
  <% end %>
  </ul>
<% end %>

<!-- As student -->
<% unless @instances_student.empty? %>
  <div class="page-header">
    <h1 id='courses-student'><%=t :frontpage_courses_student_heading %></h1>
  </div>
  <ul>
  <% @instances_student.each do |instance| %>
    <li><%= link_to "#{instance.course.name} (#{instance.name})", instance %></li>
  <% end %>
  </ul>
<% end %>

<!-- Show all courses -->
<% if is_admin?(current_user) %>
  <%= link_to t(:frontpage_show_all_courses), courses_path %>
<% end %>
