<% content_for :javascript do %>
  <%= javascript_include_tag 'views/frontpage/show' %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'frontpage', :media => "all" %>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=670208806400720&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, :class => 'navbar-brand' do image_tag 'logo.png', :alt => 'Rubyric' end %>
    </div>

    <%= form_for @session, :as => :session, :url => session_path, :html => {:class => 'navbar-form nav pull-right'} do |f| %>
      <div class="form-group">
        <%= f.text_field :email, :class => 'form-control input-sm text-input', :placeholder => 'Email' %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :class => 'form-control input-sm text-input', :placeholder => t(:sessions_password_label) %>
      </div>
      <div class="checkbox">
        <label style="margin-right: 8px; font-size: small;">
          <%= f.check_box :remember_me, :class => 'form-control input-sm', :style => 'margin-top: -2px;' %>
          <%= t(:sessions_remember_label) %>
        </label>
      </div>
      
      <%= f.submit 'Sign In', :class => 'btn btn-default navbar-btn' %>
    <% end %>
  </div>
</nav>

<% if defined? SHIB_PATH %>
  <div class="frontpage-shib-login pull-right">
    <%= link_to SHIB_PATH + shibboleth_session_url(:protocol => 'https') do
      image_tag('haka_portrait_large.gif', {:alt => '[Haka Login]'})
    end %>
  </div>
<% end %>
  
<div class="container">
  
  <%= render 'layouts/messages' %>
  
  <div class="row intro">
    <div class="col-sm-12">
      Rubyric is an online tool that allows you to receive submissions, create <strong>assessment rubrics</strong> and <strong>annotate submissions</strong> with feedback.
      Rubrics make it easy to give comprehensive feedback to students by allowing you to reuse commonly occurring feedback phrases.
      However, the phrases can be freely edited in order to give fully <strong>personalized feedback</strong> for each student.
    </div>
  </div>
  

  <div id="carousel" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag('carousel-annotation.png', :alt => '') %>
        <div class="carousel-caption">
          <p>Annotate submissions with feedback.</p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag('carousel-traditional.png', :alt => '') %>
        <div class="carousel-caption">
          <p>Written feedback can be given when annotating is not possible (e.g. video submissions).</p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag('carousel-rubric.png', :alt => '') %>
        <div class="carousel-caption">
          <p>Rubrics are constructed with an interactive editor.</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>


  <!-- Features -->
  <div class="row">
    <div class="col-sm-6">
      <h1>Features</h1>
      <ul class="list-unstyled">
        <li>Create a form for <strong>receiving submissions</strong>.</li>
        <li><strong>Distribute submissions</strong> to reviewers.</li>
        <li>Create <strong>assessment rubrics</strong>.</li>
        <li>Annotate submissions with <strong>feedback</strong>.</li>
        <!--li>Send feedback to students by email.</li-->
      </ul>
    </div>
    <div class="col-sm-6 text-center hidden-xs hidden-sm">
      <!--%= image_tag('stack.jpg', :alt => 'A stack of papers') %-->
      <p class="pull-right demo-button clearfix">
        <%= link_to annotation_demo_path, :class => 'btn btn-lg btn-primary' do %>
          Try the Demo <span class="glyphicon glyphicon-chevron-right"></span>
        <% end %>
      </p>
    </div>
  </div>

  <!-- Why rubrics -->
  <div class="row">
    <div class="col-sm-6 text-center hidden-xs hidden-sm">
      <%= image_tag('pen.jpg', :alt => 'Manual assessment') %>
      
    </div>
    <div class="col-sm-6">
      <h1>Why rubrics</h1>
      <ul class="list-unstyled">
        <li>A <strong>rubric</strong> is an assessment template that defines the assessment criteria and describes what is required to reach each grade.</li>
        <li>They help to ensure <strong>consistency</strong> when there are multiple reviewers.</li>
        <li>They make it effortless to give <strong>comprehensive feedback</strong>.
        Because many students make similar mistakes, large parts of feedback can be constructed from prewritten feedback phrases.</li>
        <li>It is also possible to use Rubyric as ordinary <strong>annotation tool</strong> without preparing a rubric.</li>
      </ul>
    </div>
    
  </div>

  <!-- Who's using -->
  <div class="row">
    <div class="col-sm-6">
      <h1>Who's using Rubyric</h1>
      <ul class="list-unstyled">
        <li>So far, Rubyric has been used in over <strong>50 courses</strong></li>
        <li>to assess <strong>34,000 submissions</strong> from <strong>7,000 students</strong>.</li>
      </ul>
    </div>
    <div class="col-sm-6 text-center hidden-xs hidden-sm">
      <%= image_tag('computer.jpg', :alt => 'Computer assisted assessment') %>
    </div>
  </div>

  <!-- Privacy -->
  <div class="row">
    <div class="col-sm-6 text-center hidden-xs hidden-sm">
      <%= image_tag('university.jpg', :alt => '') %>
    </div>

    <div class="col-sm-6">
      <h1>We respect your privacy</h1>

      <ul class="list-unstyled">
        <li>
          <strong>You are in control of your data.</strong><br />
          <span class="">We do not store copies of students' submissions indefinitely or hand personal information over to third parties. Submissions and other personal data are deleted from our servers after the course has ended. You can download copies for archiving first, of course.</span>
        </li>
        <li>We are a Finnish company with <strong>servers located in Europe</strong>.</li>
      </ul>
    </div>
  </div>


  <div class="signup">
      <div class="row">
        <div class="col-sm-6">
          <h1>Try before you buy</h1>
          
          <%= render 'orders/calculator' %>
        </div>
        <div class="col-sm-6">
          <h1>Sign up <span class="text-muted">&ndash; It's free</span></h1>
          <div class="well">
            <%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
              <div class="form-group">
                <%= f.label :email, 'Email', :class => 'col-sm-4 control-label' %>
                <div class="col-sm-6">
                  <%= f.text_field :email, :class => 'form-control' %>
                </div>
              </div>
              
              <div class="form-group">
                <%= f.label :password, 'Choose a Password', :class => 'col-sm-4 control-label' %>
                <div class="col-sm-6">
                  <%= f.password_field :password, :class => 'form-control' %>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                  <%= f.submit 'Sign up', :class => 'btn btn-lg btn-primary' %>
                </div>
              </div>
            <% end %>

          </div>
          
        </div>
      </div>
    </div>
  </div>


  <% if false %>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <!--
      <h3>Try it for free</h3>
      <p>
        <%= link_to 'Create a test account here', new_user_path, :class => 'btn' %>
      </p>
      -->

      <h2><%=t :frontpage_login_heading %></h2>
      <% if defined?(SHIB_AALTO_PATH) %>
        <%= render :partial => 'sessions/aalto' %>
      <% end %>
      <% if defined?(SHIB_PATH) %>
        <%= render :partial => 'sessions/shibboleth' %>
      <% end %>
      <%= render :partial => 'sessions/login' %>
    </div>
  </div>
  <% end %>
</div>

<div class="container like-buttons">
  <div class="row">
    <div class="col-sm-12">
      <!-- +1 button -->
      <div class="social-button">
        <div class="g-plusone" data-href="https://rubyric.com/"></div>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </div>
      
      <!-- Like button -->
      <div class="social-button">
        <div class="fb-like" data-href="https://rubyric.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>
          Rubyric is hosted by <a href="http://www.bythemark.com/" target="_blank">By The Mark</a>, an educational technology company originally founded by a group of researchers and teachers from <a href="http://www.aalto.fi/en/" target="_blank">Aalto University</a>, Finland.
        </p>
        
        <p>
          email:
          contact<span class="obfuscate">-REMOVE-THIS-</span>@rubyric.com
        </p>
      </div>
    </div>
  </div>
</div>
