<div class="page-header frontpage">
  <h1>Rubyric <small>(beta)</small></h1>
</div>

<div class="row">
  <div class="span12">
  Rubyric is an assessment tool that makes it easy to give written feedback to students.
  With Rubyric, teachers can create rubrics that specify the assessment criteria and contain feedback phrases for typical mistakes.
  Because many students tend to make similar mistakes, large parts of feedback can be constructed from the prewritten phrases.
  However, it is still possible to manually edit the phrases to suit each individual case.
  </div>
</div>

<hr />

<div class="row">
  <div class="span3">
    <div class="">
      <h2>Students</h2>
      
      <p>A link for submitting your assignment can be found from the homepage of your course (most likely in <a href="http://noppa.aalto.fi/">Noppa</a>)</p>
    </div>
  </div>

  <div class="span3 offset1">
    <div class="">
      <h2>Teachers</h2>
      
      <p>
        Teachers of Aalto university can freely use rubyric.cs.hut.fi.
        <%= link_to 'Click here to create a course.', new_course_path %>
      </p>
    </div>
  </div>

  <div class="span4 offset1">
    <!--
    <h3>Try it for free</h3>
    <p>
      <%= link_to 'Create a test account here', new_user_path, :class => 'btn' %>
    </p>
    -->

    <h2><%=t :frontpage_login_heading %></h2>
    <% if defined?(SHIB_AALTO_PATH) %>
      <%= render :partial => 'sessions/aalto' %>
    <% end %>
    <% if defined?(SHIB_PATH) %>
      <%= render :partial => 'sessions/shibboleth' %>
    <% end %>
    <%= render :partial => 'sessions/login' %>

    <!--
    <h3>Contact us</h3>
    <p>If you want to ask anything about Rubyric, we are happy to help.</p>
    <p>contact<span class="obfuscate">-REMOVE-THIS-</span>@rubyric.com</p>
    -->
  </div>
</div>

