<% @reviews.each_with_index do |review, index| -%>
<% if @reviews.size > 1 %><h1>Review <%= index + 1 %></h1><% end %>
<p>
<% if !@exercise.anonymous_graders && review.user %><%=t :Reviewer %>: <%= review.user.firstname %> <%= review.user.lastname %> <a href="mailto:<%= review.user.email %>">(<%= review.user.email %>)</a><% end -%>

<% unless review.grade.blank? %><br /><%=t :Grade %>: <%= review.grade %><% end -%>
</p>

<% if review.feedback -%>
<%= h(review.feedback).gsub(/(\r\n|\n|\r)/, "<br />\n").html_safe %>
<% end -%>

<% if review.submission.is_a? AplusSubmission %><p>
<a href="<%= review_url(review.id, :group_token => review.submission.group.access_token, :protocol => 'https://') %>"><%= t :Feedback_available_here %></a>
</p><% end -%>

<% end -%>
