<%= form_for(@course) do |f| %>
  <table>
    <tr>
      <td><%=t :course_code %>:</td>
      <td><%= f.text_field :code %></td>
      <td>
        <% if @course.errors[:code].empty? %>
          <span class="hint"><%=t :course_code_hint %></span>
        <% else %>
          <span class="error"><%= @course.errors[:code][0] %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%=t :course_name %>:</td>
      <td><%= f.text_field :name %></td>
      <td>
        <% if @course.errors[:name].empty? %>
          <span class="hint"><%=t :course_name_hint %></span>
        <% else %>
          <span class="error"><%= @course.errors[:name][0] %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%=t :course_email %>:</td>
      <td><%= f.text_field :email %></td>
      <td class="hint"><%=t :course_email_hint %></td>
    </tr>
  </table>

  <% if @course.new_record? %>
    <p class="hint"><%=t :settings_changeable_later %></p>
    <p><%= f.submit t(:Create) %></p>
  <% else %>
    <p><%= f.submit t(:Save) %></p>
  <% end %>

<% end %>