<!-- courses/show.html.erb -->

<div class="page-header">
  <h1><%= @course.code %> <%= @course.name %></h1>
</div>

<div class="row-fluid">
  <div class="span4">
    <h2><%=t :course_instances_heading %></h2>
    <% if @course.course_instances.empty? %>
      <p><%=t :course_no_instances %></p>

      <% if @is_teacher %>
        <p>
          <%= link_to t(:course_create_instance), new_course_course_instance_path(:course_id => @course.id), :class => 'btn btn-primary' %>
          <span class="hint"><%=t :course_no_instances_hint, :year => Time.now.year %></span>
        </p>
      <% end %>
    <% else %>
      <p>
      <table class="table">
        <% @course.course_instances.each do |instance| %>
          <tr>
            <td><%= link_to instance.name, instance %></td>

            <% if @is_teacher %>
              <td class="trash"><%= link_to instance, :confirm => 'Are you sure?', :method => :delete do image_tag('trash.png', :alt => 'Destroy') end %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      </p>
    <% end %>
    
    <% if can? :update, @course %>
      <p><%= link_to t(:course_create_instance), new_course_course_instance_path(:course_id => @course.id), :class => 'btn btn-primary' %></p>
    <% end %>
  </div>
  
  <% if @is_teacher %>
    <div class="span4">
      <!-- Teachers -->
      <h2>Instructors</h2>
      <p class="hint">Instructors have full rights to view and edit everything.</p>
      <ul id="instructors">
        <% @course.teachers.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      </ul>

      <% if can? :update, @course %>
        <%= link_to t(:Edit), course_teachers_path(@course) %>
      <% end %>
    </div>
  <% end %>
</div>
