<div class="category" id="categoryElement<%= category.id %>">
  <h1>
    <span id="categoryName<%= category.id %>"><%= h category.name %></span>
    <%= in_place_editor "categoryName#{category.id}", {:url => url_for(:action => "rename_category", :id => category.id), :clickToEditText => 'positive float'}  %>

    <span class="weight">(weight: <span id="categoryWeight<%= category.id %>"><%= category.weight %></span>)</span>
    <%= in_place_editor "categoryWeight#{category.id}", {:url => url_for(:action => "set_category_weight", :id => category.id), :clickToEditText => 'positive float'}  %>


    <div class="buttons">
    <%= link_to_remote image_tag('up.png', :alt => 'Move up'), :url => { :action => 'move_category', :cid => category.id, :offset => -1 }, :update => 'rubric' %>
    <%= link_to_remote image_tag('down.png', :alt => 'Move down'), :url => { :action => 'move_category', :cid => category.id, :offset => 1 }, :update => 'rubric' %>
    <%= link_to_remote image_tag('trash.png', :alt => 'Destroy'), :url => { :action => 'destroy_category', :id => category.id }, :confirm => 'Are you sure?', :html => {:class => 'trash'} %>
    </div>
  </h1>

  <!-- Sections -->
  <div id="sections<%= category.id %>">
    <%= render :partial => 'section', :collection => category.sections %>
  </div>

  <p><%= link_to_remote 'New section', :url => { :action => 'new_section', :cid => category.id }, :update => "sections#{category.id}", :position => 'bottom', :html => { :class  => 'new' } %></p>
</div> <!-- /category -->
