<div class="item" id="itemElement<%= item.id %>">
  <h3>
    <span id="itemName<%= item.id %>"><%= item.name.blank? ? '&lt;no heading&gt;' : item.name %></span>
    <%= in_place_editor "itemName#{item.id}", {:url => url_for(:action => "rename_item", :id => item.id)}  %>

    <div class="buttons">
    <!-- <a href="javascript:copyItem(<%= item.id %>)" class='new' title="Copy">C</a> -->
    <%= link_to_remote image_tag('up.png', :alt => 'Move up'), :url => { :action => 'move_item', :iid => item.id, :offset => -1 }, :update => "items#{item.section_id}" %>
    <%= link_to_remote image_tag('down.png', :alt => 'Move down'), :url => { :action => 'move_item', :iid => item.id, :offset => 1 }, :update => "items#{item.section_id}" %>
    <%= link_to_remote image_tag('trash.png', :alt => 'Destroy'), :url => { :action => 'destroy_item', :id => item.id }, :confirm => 'Are you sure?', :html => {:class => 'trash'} %>
    </div>
  </h3>

  <!-- Phrases -->
  <table class="phrases" id="phrases<%= item.id %>">
    <%= render :partial => 'phrase', :collection => item.phrases %>
  </table>
  <%= link_to_remote 'New phrase', :url => { :action => 'new_phrase', :iid => item.id }, :update => "phrases#{item.id}", :position => 'bottom', :html => { :class  => 'new' } %>
  <a href="javascript:copyPhrases(<%= item.id %>)" class='new' title="Copy phrases">Copy</a>
  <a href="javascript:pastePhrases(<%= item.id %>)" class='new' title="Paste phrases">Paste</a>

  <!-- Grading options -->
  <table class="grading-options" id="item-grades<%= item.id %>">
    <%= render :partial => 'item_grade', :collection => item.item_grading_options %>
  </table>

  <%= link_to_remote 'New quality level', :url => { :action => 'new_item_grading_option', :iid => item.id }, :update => "item-grades#{item.id}", :position => 'bottom', :html => { :class  => 'new' } %>
  <a href="javascript:copyItemGrades(<%= item.id %>)" class='new'>Copy</a>
  <a href="javascript:pasteItemGrades(<%= item.id %>)" class='new'>Paste</a>

</div> <!-- /item -->
