<tr class="phrase" id="phraseElement<%= phrase.id %>">
  <td class="type-selection">
    <select class="phraseType" id="phraseType<%= phrase.id %>" onchange="<%= remote_function(:url => { :action => :set_phrase_type }, :with => "'type=' + $('phraseType#{phrase.id}').value + '&pid=' + #{phrase.id}") %>">
      <%= options_for_select(['Good', 'Bad', 'Neutral'], phrase.feedbacktype ) %>
    </select>
  </td>
  <td>
    <span class="phraseContent" id="phraseContent<%= phrase.id %>"><%= h(phrase.content).gsub(/\n|\r/, '<br />') %></span>
    <% #= in_place_editor "phraseContent#{phrase.id}", {:url => url_for(:action => "rename_phrase", :id => phrase.id), :rows => 3, :loadTextURL => 'get_unformatted_phrase', :cancelControl => 'button'}
    %>
    <script>
      new Ajax.InPlaceEditor("<%= "phraseContent#{phrase.id}" %>",
        "<%= url_for :only_path => true, :action => 'rename_phrase', :id => phrase.id, :authenticity_token => form_authenticity_token  %>",
        { loadTextURL:'<%= url_for :only_path => true, :action => 'get_unformatted_phrase', :id => phrase.id %>',
          rows:3
        }
      );
    </script>
  </td>
  <td class="buttons">
    <a href="javascript:copyPhrase(<%= phrase.id %>)" class='new' title="Copy">C</a>

    <%= link_to_remote image_tag('up.png', :alt => 'Move up'), :url => { :action => 'move_phrase', :pid => phrase.id, :offset => -1 }, :update => "phrases#{phrase.item_id}" %>
    <%= link_to_remote image_tag('down.png', :alt => 'Move down'), :url => { :action => 'move_phrase', :pid => phrase.id, :offset => 1 }, :update => "phrases#{phrase.item_id}" %>
    <%= link_to_remote image_tag('trash.png', :alt => 'Destroy'), :url => { :action => 'destroy_phrase', :id => phrase.id }, :confirm => 'Are you sure?' %>
  </td>
</tr>
