<tr id="sectionGradeElement<%= section_grade.id %>">
  <td>
    <span class="sectionGradingText" id="sectionGradingOption<%= section_grade.id %>"><%= section_grade.text %></span>
    <%= in_place_editor "sectionGradingOption#{section_grade.id}", {:url => url_for(:action => "rename_section_grading_option", :id => section_grade.id) } %>
  </td>
  <td class="points">
    <span class="sectionGradingPoints" id="sectionGradingPoints<%= section_grade.id %>"><%= section_grade.points %></span>
    <%= in_place_editor "sectionGradingPoints#{section_grade.id}", {:url => url_for(:action => "rename_section_grading_value", :id => section_grade.id) } %>
  </td>
  <td class="buttons">
    <%= link_to_remote image_tag('up.png', :alt => 'Move up'), :url => { :action => 'move_section_grading_option', :gid => section_grade.id, :offset => -1 }, :update => "section-grades#{section_grade.section_id}" %>
    <%= link_to_remote image_tag('down.png', :alt => 'Move down'), :url => { :action => 'move_section_grading_option', :gid => section_grade.id, :offset => 1 }, :update => "section-grades#{section_grade.section_id}" %>
    <%= link_to_remote image_tag('trash.png', :alt => 'Destroy'), :url => { :action => 'destroy_section_grading_option', :id => section_grade.id }, :html => {:class => 'trash'} %>
  </td>
</tr>
