<% remote_form_for :exercise, @exercise, :url => {:action => 'update_settings', :id => @exercise.id}, :update => 'settings' do |f| %>
  <h3>
    Final comment
    <span class="hint">(This is added to the end of every feedback, but can be edited by the grader)</p>
  </h2>

  <%= f.text_area :finalcomment, :rows => 2, :cols => 80 %>

  <!-- Grading mode -->
  <h3>Grading mode</h3>
  <p>
  <%= f.radio_button(:grading_mode, 'average') %> Average<br />
  <%= f.radio_button(:grading_mode, 'sum') %> Sum<br />
  <%= f.radio_button(:grading_mode, 'none') %> No grade
  </p>


  <!-- Captions -->
  <h2>
    Captions
    <span class="hint">(Example: "Strengths", "Weaknesses", "Other comments")</p>
  </h2>
  <table>
    <tr>
      <td>Positive:</td>
      <td><%= f.text_field(:positive_caption) %></td>
    </tr>
    <tr>
      <td>Negative:</td>
      <td><%= f.text_field(:negative_caption) %></td>
    </tr>
    <tr>
      <td>Neutral:</td>
      <td><%= f.text_field(:neutral_caption) %></td>
    </tr>
  </table>


  <!-- Feedback grouping -->
  <h2>Feedback grouping</h2>
  <p>
  <%= f.radio_button(:feedbackgrouping, 'sections') %> Each section separately (lots of captions)<br />
  <%= f.radio_button(:feedbackgrouping, 'categories') %> Each part separately (some captions)<br />
  <%= f.radio_button(:feedbackgrouping, 'exercise') %> All feedback combined (no captions)
  </p>

  <p><%= f.submit 'Save' %></p>

  <% if flash[:success] %>
    <p class="flash flashSuccess"><%= flash[:success] %></p>
  <% end %>

  <% if flash[:error] %>
    <p class="flash flashError"><%= flash[:error] %></p>
  <% end %>

<% end %>
