<!-- rubric/edit.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery.jeditable' %>
  <%= javascript_include_tag 'rubricEditor' %>
<% end %>

<style>
.ui-effects-transfer {
  border: 2px dotted gray;
}

.dropHover {
  background: #ff8;
}
</style>

<h1>Editing rubric</h1>

<!-- Menu -->
<table class="rubricmenu">
  <% @exercise.categories.each do |category| %>
    <tr>
      <td class="bold"><%= category.name %></td>
    </tr>
    <% category.sections.each do |section| %>
      <tr<%= @section && @section.id == section.id ? ' class="selected"' : '' %>>
        <td class="section-name<%= @section && @section.id == section.id ? ' selected' : '' %>">
          <%= link_to section.name, {:action => 'edit', :section => section.id}, :class => (@section && @section.id == section.id ? 'selected' : ''), :onclick => "return !modified || confirm('You have not saved the feedback. Proceed?')" %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<p>
  <%= link_to 'Save as XML', download_exercise_rubric_path(@exercise) %>
  <%= link_to 'Load XML', upload_exercise_rubric_path(@exercise) %>
</p>

<div id="rubric" class="rubric rubric-editor">
  <!-- render :partial => 'rubric', :object => @exercise -->
  <% @section.items.each do |item| %>
    <div class="criterion" id="criterion-container-<%= item.id %>" data-id="<%= item.id %>">
      <!-- Heading -->
      <h3>
        <span class="criterion" id="criterion-name-<%= item.id %>"><%= item.name.blank? ? '-' : item.name %></span>
        <span class="edit-criterion-button" id="edit-criterion-<%= item.id %>" data-target-id="criterion-name-<%= item.id %>">
          <%= image_tag 'edit.png', :alt => 'Edit', :title => 'Edit criterion' %>
        </span>
        <span class="delete-criterion-button" id="delete-criterion-<%= item.id %>" data-target-id="criterion-container-<%= item.id %>">
          <%= image_tag 'trash.png', :alt => 'Delete', :title => 'Delete criterion' %>
        </span>
      </h3>

      <!-- Grading options -->
      <div class="grading-options">
        <ul>
          <% item.item_grading_options.each do |grading_option| %>
            <li id="grade-<%= grading_option.id %>"><%= grading_option.text %>
              <div class="criterion-grade-buttons">
                <%= image_tag 'trash.png', :alt => 'Delete', :title => 'Delete quality level' %>
              </div>
            </li>
          <% end %>
        </ul>
        <%= image_tag 'create.png', :alt => 'Add', :title => 'Add quality level' %>
      </div>

      <div class="clear"></div>

      <!-- Phrases -->
      <div class="phrases">
        <table id="phrases-<%= item.id %>" class="phrases">
          <tbody>
            <% item.phrases.each do |phrase|%>
              <tr>
                <td id="phrase-<%= phrase.id %>" class="phrase <%= phrase.feedbacktype %>">
                <%= h(phrase.content).gsub(/\n|\r/, '<br />') %>
                </td>
                <td>
                  <span class="edit-phrase-button" id="edit-phrase-<%= phrase.id %>" data-target-id="phrase-<%= phrase.id %>">
                    <%= image_tag 'edit.png', :alt => 'Edit', :title => 'Edit phrase' %>
                  </span>
                  <span class="delete-phrase-button" id="delete-phrase-<%= phrase.id %>" data-target-id="phrase-<%= phrase.id %>">
                    <%= image_tag 'trash.png', :alt => 'Delete', :title => 'Delete phrase' %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= image_tag 'create.png', :alt => 'Add phrase', :title => 'Add phrase' %>
      </div>
    </div>
  <% end %>
  
  <p><%= image_tag 'create.png' %>Add criterion</p>  

</div>
