<!-- rubric/edit.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery.jeditable' %>
  <%= javascript_include_tag 'rubricEditor' %>
<% end %>

<style>
.ui-effects-transfer {
  border: 2px dotted gray;
}

.dropHover {
  background: #ff8;
}
</style>

<h1>Editing rubric</h1>

<!-- Menu -->
<table class="rubricmenu">
  <% @exercise.categories.each do |category| %>
    <tr>
      <td class="bold"><%= category.name %></td>
    </tr>
    <% category.sections.each do |section| %>
      <tr<%= @section && @section.id == section.id ? ' class="selected"' : '' %>>
        <td class="section-name<%= @section && @section.id == section.id ? ' selected' : '' %>">
          <%= link_to section.name, {:action => 'edit', :section => section.id}, :class => (@section && @section.id == section.id ? 'selected' : ''), :onclick => "return !modified || confirm('You have not saved the feedback. Proceed?')" %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>


<p>
  <%= link_to 'Save as XML', download_exercise_rubric_path(@exercise) %>
  <%= link_to 'Load XML', upload_exercise_rubric_path(@exercise) %>
</p>

<div id="rubric" class="feedback-editor rubric-editor">
  <% @section.items.each do |item| %>
    <div class="criterion">
      <!-- Heading -->
      <h3><%= item.name.blank? ? '-' : item.name %></h3>

      <!-- Grading options -->
      <ul class="grading-options">
        <% item.item_grading_options.each do |grading_option| %>
          <li id="grade-<%= grading_option.id %>"><%= grading_option.text %>
            <ul class="criterion-grade-buttons">
              <li>Move</li>
              <li>Delete</li>
            </ul>
          </li>
        <% end %>
        <li>Add quality level</li>
      </ul>

      <div class="clear"></div>

      <!-- Phrases -->
      <table id="phrases<%= item.id %>" class="phrases">
        <tbody>
          <% item.phrases.each do |phrase|%>
            <tr>
              <td id="phrase-<%= phrase.id %>" class="phrase <%= phrase.feedbacktype %>">
                <span class="phraseContent"><%= phrase.content.gsub(/\n|\r/, '<br />') %></span>
              </td>
              <td><span class="edit-phrase-button" id="edit-phrase-<%= phrase.id %>" data-target-id="phrase-<%= phrase.id %>">Edit</span></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td>Add phrase</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  <% end %>
  
  <p>Add criterion</p>  

</div>

<p><%= link_to 'Back', @exercise %></p>
