<!-- rubric/edit.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery.jeditable' %>
  <%= javascript_include_tag 'bootstrap-tab' %>
  <%= javascript_include_tag 'handlebars-1.0.0.beta.6' %>
  <%= javascript_include_tag 'rubricEditor' %>
<% end %>

<style>
.ui-effects-transfer {
  border: 2px dotted gray;
}

.dropHover {
  background: #ff8;
}
</style>

<script id="criterion-template" type="text/x-handlebars-template">
<div class="criterion" id="criterion-container-{{criterionId}}" data-id="{{criterionId}}">
  <!-- Heading -->
  <h3>
    <span class="criterion" id="criterion-name-{{criterionId}}">{{criterionName}}</span>
    <span class="edit-criterion-button" id="edit-criterion-{{criterionId}}" data-target-id="criterion-name-{{criterionId}}">
      <%= image_tag 'edit.png', :alt => 'Edit', :title => 'Edit criterion' %>
    </span>
    <span class="delete-criterion-button" id="delete-criterion-{{criterionId}}" data-target-id="criterion-container-{{criterionId}}">
      <%= image_tag 'trash.png', :alt => 'Delete', :title => 'Delete criterion' %>
    </span>
    <%= image_tag 'updown.png', :alt => 'Move', :title => 'Drag to move phrase' %>
  </h3>

  <div class="clear"></div>

  <div class="add-phrase">
    <%= image_tag 'create.png', :alt => 'Add phrase', :title => 'Add phrase', :class => 'create-phrase-button', 'data-target-id' => "phrases-{{criterionId}}" %>
    Add phrase
  </div>

</div>
</script>

<div class="page-header">
  <h1><%= @exercise.name %> - Editing rubric</h1>
</div>

<div class="tabbable">
  <ul id="tabs" class="nav nav-tabs">
    <li class="active">
      <a href="#tab-settings" data-toggle="tab"><i class="icon-wrench"></i> <strong>Settings</strong></a>
    </li>
    <li id="create-page-tab">
      <a href="#" class="btn btn-small" id="create-page"><i class="icon-plus"></i> Create new page</a>
    </li>
  </ul>

  <div id="tab-contents" class="tab-content">
    <div class="tab-pane active" id="tab-settings">
      General settings
    </div>
  </div>
</div> <!-- /tabbable -->
