<!-- rubrics/edit.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'views/rubrics/edit' %>
<% end %>

<form>
  <%= hidden_field_tag :rubric_payload, @exercise.rubric %>
</form>

<div class="page-header">
  <div class="pull-right">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon icon-align-justify"></i>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Upload rubric', upload_exercise_rubric_path(@exercise) %></li>
        <li><%= link_to 'Download rubric', download_exercise_rubric_path(@exercise) %></li>
      </ul>
    </div>
    <button class="btn btn-success" data-bind="click: clickSaveRubric">Save</button>
  </div>
  
  <h1><%= link_to @exercise do %><i class='icon icon-arrow-left'></i><%= @exercise.name %><% end %> - Editing rubric</h1>
</div>

<div class="tabbable rubric-editor" id="rubric-editor" data-url="<%= exercise_rubric_url(@exercise.id) %>">
  <%= render 'rubric_editor' %>
</div>
