<!-- rubric/edit.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'rubricEditor' %>
<% end %>

<style>
.ui-effects-transfer {
  border: 2px dotted gray;
}

.dropHover {
  background: #ff8;
  border: 1px solid red;
}
</style>

<script id="page-template" type="text/x-handlebars-template"><div class="tab-pane page" id="page-{{id}}">
  <h2>
    <span class="title">{{name}}</span>
    <span class="buttons">
      <i class="icon-pencil edit-page-button" title="Edit title"></i>
      <i class="icon-trash delete-page-button" title="Delete page"></i>
    </span>
  </h2>

  <div class="rubric" id="rubric-{{id}}">
  </div>

  <!-- Create criterion -->
  <div class="btn create-criterion-button">
    <i class="icon-plus"></i> Create new criterion
  </div>

  <div class="row-fluid">
    <div class="span4 grading well">
      <h2>Grading</h2>
      <table>
        <tbody class="grading">
        </tbody>
      </table>
      <p>
        <input type="textfield" />
        <button class="btn btn-small create-grade-button"><i class="icon-plus"></i> Add grade</button>
      </p>
    </div>
  </div>
</div>
</script>

<script id="criterion-template" type="text/x-handlebars-template"><div class="criterion" id="criterion-container-{{criterionId}}" data-id="{{criterionId}}">
  <!-- Heading -->
  <h3>
    <span class="title" id="criterion-name-{{criterionId}}">{{criterionName}}</span>
    <span class="buttons">
      <i class="icon-pencil edit-criterion-button" title="Edit criterion" id="edit-criterion-{{criterionId}}" data-target-id="criterion-name-{{criterionId}}"></i>
      <i class="icon-trash delete-criterion-button" title="Delete criterion" id="delete-criterion-{{criterionId}}" data-target-id="criterion-container-{{criterionId}}"></i>
      <i class="icon-resize-vertical move-criterion-button" title="Drag to move criterion"></i>
    </span>
  </h3>

  <div class="clear"></div>

  <!-- Phrases -->
  <div class="phrases">
    <table class="phrases">
      <tbody id="phrases-{{criterionId}}">
      </tbody>
    </table>

    <!-- Create phrase -->
    <div class="btn create-phrase-button buttons" data-criterion-id="{{criterionId}}">
      <i class="icon-plus"></i> Create new phrase
    </div>
  </div>
</div>
</script>

<script id="phrase-template" type="text/x-handlebars-template"><tr class="phrase">
  <td class="phraseType">
    <select class="phraseType" id="phraseType-{{id}}">
      <%= options_for_select(['Good', 'Bad', 'Neutral']) %>
    </select>
  </td>
  <td id="phrase-{{id}}" class="phrase">{{content}}</td>
  <td class="buttons-column">
    <div class="buttons">
      <i class="icon-pencil edit-phrase-button" title="Edit phrase"></i>
      <i class="icon-trash delete-phrase-button" title="Delete phrase"></i>
      <i class="icon-resize-vertical move-phrase-button" title="Drag to move phrase"></i>
    </div>
  </td>
</tr>
</script>

<script id="category-template" type="text/x-handlebars-template"><tr class="category">
  <td class="category">{{content}}</td>
  <td class="buttons-column">
    <div class="buttons">
      <i class="icon-pencil edit-button" title="Edit"></i>
      <i class="icon-trash delete-button" title="Delete"></i>
      <i class="icon-resize-vertical move-button" title="Drag to move"></i>
    </div>
  </td>
</tr>
</script>

<div class="page-header">
  <h1><%= link_to @exercise.name, @exercise %> - Editing rubric</h1>
</div>



<div class="tabbable rubric-editor" id="rubric-editor" data-url="<%= exercise_rubric_url(@exercise.id) %>">
  <!-- Tabs -->
  <div class="row-fluid">
    <div class="span1">
      <button id="save-button" class="btn btn-success">Save</button>
    </div>
    <div class="span11">
      <ul id="tabs" class="nav nav-tabs">
        <li class="active">
          <a id="tab-settings-link" href="#tab-settings" data-toggle="tab"><i class="icon-wrench"></i> <strong>Settings</strong></a>
        </li>
        <li id="create-page-tab">
          <a href="#" class="" id="create-page"><i class="icon-plus"></i> Create new page</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="tab-contents" class="tab-content">
    <div class="tab-pane active" id="tab-settings">
      <div class="row-fluid">
        <div class="span4 well">
          <h3>Grading</h3>
          <ul id="grading-mode" class="unstyled">
            <li><label><input type="radio" name="grading-mode" id="grading-mode-no" value="no" /> No grade</label></li>
            <li><label><input type="radio" name="grading-mode" id="grading-mode-average" value="average" /> Weighted average</label></li>
            <li><label><input type="radio" name="grading-mode" id="grading-mode-sum" value="sum" /> Sum</label></li>
          </ul>
        </div>
        <div class="span4 well">
          <h3>Feedback categories</h3>
          <table>
            <tbody id="feedback-categories">
            </tbody>
          </table>

          <div id="create-category-button" class="btn btn-small">
            <i class="icon-plus"></i> Create category
          </div>
        </div>
        <div class="span4 well">
          <h3>Feedback email</h3>

          <p>Final comment <i data-help="final-comment-help" class="icon-question-sign help-hover"></i></p>
          <textarea id="final-comment"></textarea>
        </div>
      </div>
      <%= link_to @exercise do %><i class="icon-circle-arrow-left"></i> Back to <%= @exercise.name %><% end %>
    </div>
  </div>
</div> <!-- /tabbable -->

<% content_for :help do %>
  <div id="final-comment-help" class="hide">
    Final comment is automatically added in the end of the feedback email.
  </div>
<% end %>
