<%= hidden_field_tag :review_status, '' %>
<%= hidden_field_tag :review_grade, '' %>

<div class="rubric">
  <div class="toolbar">
    <% unless @exercise.new_record? %>
        <div class="pull-right"><%= link_to 'Back to menu', exercise_path(@exercise.id, anchor: "group#{@review.submission.group.id}") %></div>
    <% end %>
    <% unless @submission.has_html_view? %>
        <div>
          Zoom:
          <!--select class="input-small" data-bind="value: zoom_selection, options: zoom_options, optionsText: 'text'"></select-->
          <input class="input-mini" data-bind="value: zoom_selection, valueUpdate: 'input', event: { keypress: $root.zoomKeypress }"/> <!-- valueUpdate: 'input' -->
        </div>
    <% end %>
  </div>

  <div class="rubric-container">
    <ul id="tabs" class="nav nav-tabs">
      <% unless @exercise.new_record? %>
          <li class=""><a href="#page-overview" id="tab-overview-link" data-toggle='tab'>Overview</a></li>
      <% end %>

      <!-- ko foreach: pages -->
      <li>
        <a data-bind="attr:{ href: '#page-' + id, id: 'page-' + id + '-link' }" data-toggle='tab'>
          <span data-bind="text: name"></span>
          <!-- ko if: $root.gradingMode == 'sum'-->
          <span class="btn btn-small page-grade" data-bind="text: averageGrade"></span>
          <!-- /ko -->
          <!-- ko if: $root.gradingMode == 'average' && $root.grades.length > 0 -->
          <span class="btn btn-small page-grade" data-bind="text: grade"></span>
          <!-- /ko -->
        </a>
      </li>
      <!-- /ko -->
      <!-- ko if: finishable() -->
      <li><a href="#tab-finish" id="tab-finish-link" data-toggle="tab" data-bind="click: finish">Finalize</a></li>
      <!-- /ko -->
      <% unless @exercise.new_record? %>
          <button name="save" value="save" type="submit" class="btn btn-success" data-bind="click: save">Save</button>
          <% if current_user && current_user.tester == 'alpha' %>
              <button name="save" value="next" type="submit" class="btn btn-success" data-bind="click: save">Next</button>
          <% end %>
      <% end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="page-overview">
        <div class="row-fluid">
          <!-- Warnings -->
          <% if (@review && @review.status == 'mailed') %>
              <div class="alert">
                This review has already been mailed and cannot be modified any more.
              </div>
          <% end %>

          <!-- Notes to grader -->
          <% if @review && !@review.notes_to_grader.blank? %>
              <div class="alert alert-info">
                <%= @review.notes_to_grader %>
              </div>
          <% end %>
        </div>

        <% if !@exercise.new_record? %>
            <div class="row-fluid">
              <div class="well">
                <!-- Group -->
                <% unless @exercise.anonymous_submissions %>
                    <h3>Group</h3>

                    <table class="table">
                      <tbody>
                      <% @review.submission.group.group_members.each do |member| %>
                          <tr>
                            <td><%= member.studentnumber %></td>
                            <td><%= member.name %></td>
                            <td><%= member.email %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                <% end %>

                <h3>Submission</h3>
                <% unless @exercise.new_record? %>
                    <% unless @submission.extension.blank? %>
                        <%= link_to "#{@submission.filename}", submission_path(@submission) %>
                        <small>(<%= l @submission.created_at %>)</small>
                    <% end %>
                <% else %>
                    <!-- Demo -->
                    <%= link_to "#{@submission.filename}", submission_demo_path %>
                <% end %>

                <% unless @submission.payload.blank? %>
                    <pre class="payload"><%= @submission.payload.gsub('<', '&lt;').gsub('>', '&gt;').gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %></pre>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>

      <!-- ko foreach: pages -->
      <div class="tab-pane" data-bind="attr: { id: 'page-' + id }">
        <!--h2 data-bind="text: name"></h2-->

        <!-- ko if: $root.finalizing -->
        <div class="alert alert-info">
          Individual pages cannot be edited because feedback is already finalized.
          <% if @exercise.collaborative_mode.blank? || @is_assistant || @is_teacher %>
              <button class="btn btn-small" data-bind="click: $root.clickCancelFinalize">Cancel finalizing</button>
          <% end %>
        </div>
        <!-- /ko -->

        <!-- Grading instructions (page) -->
        <p class="grading-instructions" data-bind="text: instructions"></p>

        <!-- Rubric -->
        <div class="rubric-content" data-bind="foreach: criteria, css: {compact: phrasesHidden}">
          <div class="criterion">
            <!-- Heading -->
            <h3>
              <span data-bind="text: name"></span>
              <span data-bind="text: grade()" type="button" class="btn btn-small highlighted"></span>
            </h3>
            <div class="clear"></div>

            <!-- Grading instructions -->
            <p class="grading-instructions" data-bind="text: instructions"></p>

            <!-- Phrases -->
            <div class="phrases">
              <table class="phrases">
                <tbody data-bind="foreach: phrases">
                <tr class="phrase" data-bind="draggable: {}">
                  <td class="grade" data-bind="if: grade != undefined">
                    <!-- ko if: $root.gradingMode != 'average' -->
                    <span data-bind="text: grade"></span>
                    <!-- /ko -->
                    <!-- ko if: $root.gradingMode == 'average' -->
                    <button data-bind="text: grade, click: $root.clickGrade, css: { highlighted: $parent.selectedPhrase() == $data }" type="button" class="btn"></button>
                    <!-- /ko -->
                  </td>

                  <td class="phrase" data-bind="click: $root.clickPhrase">
                    <span data-bind="html: escaped_content" data-toggle="tooltip" data-placement="top" title="Drag'n'drop onto submission"></span>
                    <!-- ko if: annotations().length > 0 -->
                    <span class="badge pull-right" data-bind="text: annotations().length"></span>
                    <!-- /ko -->
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Grades -->
        <!-- ko if: $root.gradingMode == 'average' && selectableGrades.length > 0 -->
        <hr/>
        <h3>Grade</h3>

        <p>
          <select data-bind="options: selectableGrades, value: grade, attr: {disabled: $root.finalizing}, optionsCaption: 'Choose grade...'"></select>
          <!-- ko if: averageGrade -->
          Calculated mean: <strong data-bind="text: averageGrade"></strong>
          <!-- /ko -->
        </p>
        <!-- /ko -->
        <!-- ko if: $root.gradingMode == 'sum' -->
        <hr/>
        <h3>
          Points:
          <span data-bind="text: averageGrade"></span>
        </h3>
        <!-- /ko -->

        <!-- Next page button -->
        <!-- ko if: nextPage || $root.finishable() -->
        <button class="btn" data-bind="click: $root.showNextPage">
          Next page
          <i class="icon icon-arrow-right"></i>
        </button>
        <!-- /ko -->
      </div>
      <!-- /ko -->

      <!-- Finish tab -->
      <div class="tab-pane" id="tab-finish">
        <h2>Finalize Feedback</h2>

        <p class="hint">Here you can type additional comments that appear in the feedback email.</p>

        <% if defined? f %>
            <%= f.text_area :feedback, :style => "width: 95%; height: 400px;", 'data-bind' => "value: finishedText" %>
        <% else %>
            <%= text_area_tag :review_feedback, '', :style => "width: 95%; height: 400px;", 'data-bind' => "value: finishedText" %>
        <% end %>

        <!-- ko if: gradingMode == 'average' && $root.grades.length > 0 -->
        <h3>Grades</h3>
        <table>
          <tbody data-bind="foreach: pages">
          <tr>
            <td><span data-bind="text: name"></span>:</td>
            <td data-bind="text: grade"></td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td><strong>Mean:</strong></td>
            <td><strong data-bind="text: averageGrade"></strong></td>
          </tr>
          </tfoot>
        </table>

        <h3>Choose final Grade</h3>
        <select data-bind="options: $root.grades, value: finalGrade, optionsCaption: 'Choose grade...'"></select>
        <!-- /ko -->
        <!-- ko if: gradingMode == 'sum'-->
        <h3>Points</h3>
        <table>
          <tbody data-bind="foreach: pages">
          <tr>
            <td><span data-bind="text: name"></span>:</td>
            <td data-bind="text: averageGrade"></td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td><strong>Sum:</strong></td>
            <td><strong data-bind="text: averageGrade"></strong></td>
          </tr>
          </tfoot>
        </table>
        <!-- /ko -->

        <% if @review %>
            <p style="margin-top: 2ex;">
              <button class="btn btn-success" data-bind="click: save">Save</button>

              <% if @exercise.grader_can_email %>
                  <button class="btn btn-primary" data-bind="click: saveAndSend">Save + Mail</button>
              <% end %>

              <% if current_user && current_user.tester == 'alpha' %>
                  <button name="save" value="next" type="submit" class="btn btn-success" data-bind="click: save">Next</button>
              <% end %>

              <% if defined?(@course) && @course.has_teacher(current_user) %>
                  <button class="btn btn-default" data-bind="click: clickInvalidate">Invalidate</button>
              <% end %>
            </p>
        <% end %>
      </div>

    </div> <!-- /tab-contents -->
  </div>
</div> <!-- /rubric -->

<div id="submission-pages" class="submission-pages">
  <% if @exercise.new_record? %>
      <div class="navbar">
        <div class="navbar-inner">
          <%= link_to root_path, :class => 'brand' do
            image_tag 'logo.png', :alt => 'Rubyric'
          end %>

          <ul class="nav demo-links">
            <li class="active"><%= link_to "Annotation", annotation_demo_path %></li>
            <li><%= link_to "Plain text", review_demo_path %></li>
            <li><%= link_to "Rubric editor", rubric_demo_path %></li>
          </ul>
        </div>
      </div>

      <div class="alert-warning alert">
        Pull phrases from the right onto the submission. This is a demo. The review is not saved.
        <!-- <%= link_to 'Return to front page.', root_path %> -->
      </div>
  <% end %>

  <div data-bind="foreach: submission_pages">
    <div class="submission-page" data-bind="droppable: {drop: $root.dropPhrase}, click: clickCreateAnnotation, style: { minWidth: containerWidth() }">
      <% if @submission.has_html_view? %>
          <div class="html-view">
            <%= @submission.html_view.html_safe %>
          </div>
      <% elsif @submission.conversion == 'image' %>
          <img data-bind="attr: { src: src, alt: alt }, style: { minWidth: width(), minHeight: height() }, onload: onLoad" class='image'/>
      <% else %>
          <img data-bind="attr: { src: src, alt: alt }, style: { minWidth: width(), minHeight: height() }, onload: onLoad" class='page '/>
      <% end %>

      <!-- ko foreach: annotations -->
      <div class="annotation" data-bind="position: screenPosition, droppable: {drop: $root.dropPhraseToAnnotation}, css: {editorActive: gradeEditorActive() || contentEditorActive(), minimized: minimized() && !gradeEditorActive() && !contentEditorActive() }, click: clickAnnotation, clickBubble: false">
        <i class="icon icon-align-left minimized-phrase"></i>
        <!-- ko if: phrase -->
        <div class="grade" data-bind="editable: {value: grade, editorActive: gradeEditorActive, placeholder: '&bull;'}">
        </div>
        <!-- /ko -->
        <div class="content" data-bind="editable: {value: content, editorActive: contentEditorActive, type: 'textarea', placeholder: 'click to edit'}">
        </div>
        <div class="clearfix"></div>

        <div class="statusbar">
          <button class="btn btn-mini pull-right" title="Delete annotation" data-bind="click: $parent.deleteAnnotation, clickBubble: false">
            <i class="icon icon-remove"></i>
          </button>
          <button class="btn btn-mini pull-right minimize-button" title="Minimize" data-bind="click: $parent.minimizeAnnotation, clickBubble: false">
            <i class="icon icon-chevron-down"></i>
          </button>
          <button class="btn btn-mini pull-right maximize-button" title="Maximize" data-bind="click: $parent.maximizeAnnotation, clickBubble: false">
            <i class="icon icon-chevron-up"></i>
          </button>
          <!-- ko if: phrase -->
          <span data-bind="text: phrase.criterion.page.name"></span> /
          <span data-bind="text: phrase.criterion.name"></span>
          <!-- /ko -->
        </div>

      </div>
      <!-- /ko -->
    </div>
    <!--hr /-->
  </div>
</div>
