<%= content_for :javascript do %>
  <%= javascript_include_tag 'views/reviews/annotation' %>
<% end %>

<div class="annotation-editor" id="annotation-editor" data-submission-url="<%= submission_path(@submission.id, format: 'png') %>"
  data-page-count="<%= @submission.page_count %>"
  data-page-width="<%= @submission.page_width %>"
  data-page-height="<%= @submission.page_height %>"
  data-initial-rubric-page="<%= params['rubric_page'] || current_user.submission_sort_preference %>"
  data-initial-zoom="<%= params['zoom'] || current_user.zoom_preference %>"
  >
  <%= form_for @review, as: :review, url: review_path(@review) do |f| %>
    <%= f.hidden_field :payload %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :grade %>
    <%= hidden_field_tag :rubric_payload, @exercise.rubric %>
    <%= hidden_field_tag :send_review %>
    <%= hidden_field_tag :zoom_preference %>
    <%= hidden_field_tag :rubric_page_preference %>
    <%= hidden_field_tag :page_sizes, @submission.page_sizes %>
  
    <% if @exercise.collaborative_mode == 'review' && !@is_assistant && !@is_teacher %>
      <%= hidden_field_tag :role, 'collaborator' %>
    <% end %>
    
    <%= render partial: 'reviews/annotation_editor', locals: {f: f} %>
    
  <% end %>
</div>
