<!-- reviews/edit.html.erb -->

<div class="tabbable review-editor" id="review-editor" data-rubric-url="<%= exercise_rubric_url(@exercise.id) %>" data-review-url="<%= review_url(@review.id) %>">
  <ul id="tabs" class="nav nav-tabs">
    <li class="active"><a href="#tab-overview" data-toggle="tab">Overview</a></li>
    
    <!-- ko foreach: pages -->
      <li><a data-bind="text:name, attr:{ href:link }" data-toggle='tab'></a></li>
    <!-- /ko -->
    
    <li><button class="btn btn-success" data-bind="click: clickFinish">Finish</button></li>
  </ul>

  <div id="tab-contents" class="tab-content">

    <!-- Overview tab -->
    <div class="tab-pane active" id="tab-overview">
      <div class="row-fluid">
        <h2>Review</h2>

        <!-- Warnings -->
        <% if (@review.status == 'finished') %>
          <div class="alert">
            Warning: This review has already been finished. Altering the review now will overwrite all manual modifications to the finished text.
          </div>
        <% elsif (@review.status == 'mailed') %>
          <div class="alert">
            This review has already been mailed and cannot be modified any more.
          </div>
        <% end %>

        <!-- Notes to grader -->
        <% unless @review.notes_to_grader.blank? %>
          <div class="alert alert-info">
            <%= @review.notes_to_grader %>
          </div>
        <% end %>

        <div class="span4 well">
          <!-- View submission -->
          <h3>Submission</h3>

          <% unless @review.submission.extension.blank? %>
            <%= link_to "#{@review.submission.filename}", @review.submission %>
            <small>(<%=l @review.submission.created_at %>)</small>
          <% end %>
        </div>
        <div class="span4 well">
          <!-- Group -->
          <h3>Group</h3>

          <table class="table">
            <tbody>
              <% @review.submission.group.users.each do |user| %>
                <tr>
                  <td><%= user.studentnumber %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- /tab-overview -->
    
    <!-- ko foreach: pages -->
      <div class="tab-pane" data-bind="attr: { id: dom_id }">
        <h2 data-bind="text: name"></h2>

        <!-- Rubric -->
        <div class="rubric" data-bind="foreach: criteria">
          <div class="criterion">
            <!-- Heading -->
            <h3 data-bind="text: name"></h3>

            <div class="clear"></div>

            <!-- Phrases -->
            <div class="phrases">
              <table class="phrases">
                <tbody data-bind="foreach: phrases">
                  <tr class="phrase">
                    <td class="phrase" data-bind="text: escaped_content, click: clickPhrase"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Textareas -->
        <div class="textareas">
          <div>
            <p data-bind="text: $root.feedbackCategories[0]"></p>
            <textarea class="good" data-bind="text: goodFeedback"></textarea>
          </div>

          <div>
            <p data-bind="text: $root.feedbackCategories[1]"></p>
            <textarea class="bad" data-bind="text: badFeedback"></textarea>
          </div>

          <div>
            <p data-bind="text: $root.feedbackCategories[2]"></p>
            <textarea class="neutral" data-bind="text: neutralFeedback"></textarea>
          </div>
        </div>
      </div>
    <!-- /ko -->

  </div> <!-- /tab-contents -->
</div> <!-- /tabbable -->

<p><%= link_to 'Back to menu', exercise_path(@exercise.id, :anchor => "group#{@review.submission.group.id}") %></p>
