<!-- reviews/edit.html.erb -->

<% form_for @review, :html => {:class => "feedback-editor"} do |f| %>
  <h1>Review</h1>

  <p>
    <!-- Group -->
    Group:
    <%= (@review.submission.group.users.collect do |user| "<span title='#{user.name}'>#{user.studentnumber}</span>" end).join(', ') %>
    -
    <!-- View submission -->
    <% unless @review.submission.extension.blank? %>
    <%= link_to "#{@review.submission.filename}", {:controller => 'submissions', :action => 'show', :id => @review.submission.id} %>
    <small>(<%= "#{@review.submission.created_at}" %>)</small>
    <% end %>
  </p>

  <!-- Warning -->
  <% if (@review.status == 'finished') %>
    <div class="flash flashWarning">
      Warning: This review has already been finished. Altering the review now will overwrite all manual modifications to the finished text.
    </div>
  <% elsif (@review.status == 'mailed') %>
    <div class="flash flashWarning">
      This review has already been mailed and cannot be modified any more.
    </div>
  <% end %>

  <!-- Notes to grader -->
  <% unless @review.notes_to_grader.blank? %>
    <div class="flash flashWarning">
      <%= @review.notes_to_grader %>
    </div>
  <% end %>



  <div class="clear"></div>

  <div id="textareas">
    <p id="positiveCaption">
      <%= @exercise.positive_caption %><br />
      <%= f.text_area :good, { :rows => 11 } %>
    </p>

    <p id="negativeCaption">
      <%= @exercise.negative_caption %><br />
      <%= f.text_area :bad, { :rows => 11 } %>
    </p>

    <p id="commentsCaption">
      <%= @exercise.neutral_caption %><br />
      <%= f.text_area :neutral, { :rows => 11 } %>
    </p>
  </div><!-- /textareas -->

<% end # form
%>

<p><%= link_to 'Back to menu', :controller => :exercises, :action => 'show', :id => @exercise.id, :anchor => "group#{@review.submission.group.id}" %></p>
