<!-- reviews/edit.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'views/reviews/edit' %>
<% end %>

<div class="container-fluid">
  <%= form_for @review do |f| %>
    <%= f.hidden_field :payload %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :grade %>
    <%= hidden_field_tag :rubric_payload, @exercise.rubric %>
    <%= hidden_field_tag :send_review %>

    <div class="tabbable review-editor" id="review-editor" data-review-url="<%= review_url(@review.id) %>">
      <%= render :partial => 'review_editor', :locals => {:f => f} %>
    </div>
   <% end %>

  <div class="row-fluid">
    <div class="span4">
      <p><%= link_to 'Back to menu', exercise_path(@exercise.id, :anchor => "group#{@review.submission.group.id}") %></p>
    </div>
  </div>

</div>
