<!-- reviews/edit.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'reviews-edit' %>
<% end %>

<div class="container-fluid">
  <%= form_for @review do |f| %>
    <%= f.hidden_field :payload %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :grade %>

    <div class="tabbable review-editor" id="review-editor" data-rubric-url="<%= exercise_rubric_url(@exercise.id) %>" data-review-url="<%= review_url(@review.id) %>">
      <div class="row-fluid">
        <ul id="tabs" class="nav nav-tabs">
          <li class="active"><a href="#tab-overview" data-toggle="tab">Overview</a></li>
          
          <!-- ko foreach: pages -->
            <li><a data-bind="text:name, attr:{ href: '#page-' + id }" data-toggle='tab'></a></li>
          <!-- /ko -->
          
          <!-- ko if: finishable -->
            <li><a href="#tab-finish" id="tab-finish-link" data-toggle="tab" data-bind="click: finish">Finalize</a></li>
          <!-- /ko -->
          <li><input type="submit" value="Save" class="btn btn-success" data-bind="click: save" /></li>
        </ul>
      </div>
      
      <div id="tab-contents" class="tab-content">

        <!-- Overview tab -->
        <div class="tab-pane active" id="tab-overview">
          <div class="row-fluid">
            <h2>Review</h2>

            <!-- Warnings -->
            <% if (@review.status == 'mailed') %>
              <div class="alert">
                This review has already been mailed and cannot be modified any more.
              </div>
            <% end %>

            <!-- Notes to grader -->
            <% unless @review.notes_to_grader.blank? %>
              <div class="alert alert-info">
                <%= @review.notes_to_grader %>
              </div>
            <% end %>
          </div>
          <div class="row-fluid">
            <div class="span4 well">
              <!-- View submission -->
              <h3>Submission</h3>

              <% unless @review.submission.extension.blank? %>
                <%= link_to "#{@review.submission.filename}", @review.submission %>
                <small>(<%=l @review.submission.created_at %>)</small>
              <% end %>
            </div>
            <div class="span4 well">
              <!-- Group -->
              <h3>Group</h3>

              <table class="table">
                <tbody>
                  <% @review.submission.group.users.each do |user| %>
                    <tr>
                      <td><%= user.studentnumber %></td>
                      <td><%= user.name %></td>
                      <td><%= user.email %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <!-- Upload review -->
            <div class="span4 well">
              <h3>Upload feedback</h3>
              <p class="hint">You can upload a file, such as an annotated PDF, as feedback to students.</p>
            
              <% if !@review.filename.blank? %>
                <p><%= link_to @review.filename, download_review_path(@review) %></p>
                <%= link_to 'Upload again', upload_review_path(@review) %>
              <% else %>
                <%= link_to 'Upload feedback', upload_review_path(@review) %>
              <% end %>
            
            </div>
          </div>
        </div> <!-- /tab-overview -->
        
        <!-- ko foreach: pages -->
          <div class="tab-pane" data-bind="attr: { id: 'page-' + id }">
            <h2 data-bind="text: name"></h2>

            <!-- ko if: $root.finalizing -->
              <div class="alert alert-info">
                Individual pages cannot be edited because you are already finalizing the feedback. <button class="btn btn-small" data-bind="click: cancelFinalize">Cancel finalizing</button>
              </div>
            <!-- /ko -->
            
            <!-- Rubric -->
            <div class="rubric" data-bind="foreach: criteria, css: {compact: phrasesHidden}">
              <div class="criterion">
                <!-- Heading -->
                <h3>
                  <span data-bind="text: name"></span>
                  <!-- ko if: selectedPhrase() -->
                    <button data-bind="text: selectedPhrase().grade" type="button" class="btn highlighted"></button>
                  <!-- /ko -->
                </h3>

                <!-- Phrases -->
                <div class="clear"></div>
                
                <div class="phrases">
                  <table class="phrases">
                    <tbody data-bind="foreach: phrases">
                      <tr class="phrase">
                        <td class="grade" data-bind="if: grade != undefined">
                          <button data-bind="text: grade, click: clickGrade, css: { highlighted:  highlighted() }" type="button" class="btn"></button>
                        </td>
                        <td class="phrase" data-bind="html: escaped_content, click: clickPhrase"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <p><button class="btn btn-small" type="button" data-bind="click: togglePhraseVisibility">Show/Hide Phrases</button></p>
            
            <!-- Grades -->
            <!-- ko if: $root.gradingMode == 'average' && $root.grades.length > 0 -->
              <hr />
              <h3>Grade</h3>
              
              <p>
                <select data-bind="options: $root.grades, value: grade, attr: {disabled: $root.finalizing}, optionsCaption: 'Choose grade...'"></select>
                <!-- ko if: averageGrade -->
                  Calculated mean: <strong data-bind="text: averageGrade"></strong>
                <!-- /ko -->
              </p>
            <!-- /ko -->
            <!-- ko if: $root.gradingMode == 'sum' -->
              <hr />
              <h3>
                Points:
                <span data-bind="text: averageGrade"></span>
              </h3>
            <!-- /ko -->

            <!-- Textareas -->
            <div class="textareas" data-bind="foreach: feedback">
              <div class="category" data-bind="style: { height: height }">
                <div class="title">
                  <p data-bind="text: title"></p>
                </div>
                <div class="feedback">
                  <textarea data-bind="value: value, attr: {disabled: $root.finalizing}"></textarea>
                </div>
              </div>
            </div>
          </div>
        <!-- /ko -->
        
        <!-- Finish tab -->
        <div class="tab-pane" id="tab-finish">
          <h2>Finalize Feedback</h2>
          
          <p class="hint">This is the final feedback text that is sent to the students by email.</p>
          
          <%= f.text_area :feedback, :style => "width: 600px; height: 600px;", 'data-bind' => "value: finishedText" %>
          
          <!-- ko if: gradingMode == 'average' && $root.grades.length > 0 -->
            <h3>Grades</h3>
            <table>
              <tbody data-bind="foreach: pages">
                <tr>
                  <td><span data-bind="text: name"></span>:</td>
                  <td data-bind="text: grade"></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td><strong>Mean:</strong></td>
                  <td><strong data-bind="text: averageGrade"></strong></td>
                </tr>
              </tfoot>
            </table>
          
            <h3>Final Grade</h3>
            <select data-bind="options: $root.grades, value: finalGrade, optionsCaption: 'Choose grade...'"></select>
          <!-- /ko -->
          <!-- ko if: gradingMode == 'sum'-->
            <h3>Points</h3>
            <table>
              <tbody data-bind="foreach: pages">
                <tr>
                  <td><span data-bind="text: name"></span>:</td>
                  <td data-bind="text: averageGrade"></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td><strong>Sum:</strong></td>
                  <td><strong data-bind="text: averageGrade"></strong></td>
                </tr>
              </tfoot>
            </table>
          <!-- /ko -->
          
          <p><button class="btn btn-success" data-bind="click: save">Save</button></p>
        </div>

      </div> <!-- /tab-contents -->
    </div> <!-- /tabbable -->
  <% end %>

  <div class="row-fluid">
    <div class="span4">
      <p><%= link_to 'Back to menu', exercise_path(@exercise.id, :anchor => "group#{@review.submission.group.id}") %></p>
    </div>
  </div>

</div>
