<!-- reviews/finish.html.erb -->

<div class="page-header">
  <h1>Review</h1>
</div>

<div class="row">
  <% if (@review.status == 'mailed') %>
    <div class="alert">
      This review has already been mailed and cannot be modified any more.
    </div>
  <% end %>
</div>

<div class="row-fluid">
  <div class="span4 well">
    <!-- View submission -->
    <h3>Submission</h3>

    <% unless @review.submission.extension.blank? %>
      <%= link_to "#{@review.submission.filename}", @review.submission %>
      <small>(<%=l @review.submission.created_at %>)</small>
    <% end %>
  </div>
  <div class="span4 well">
    <!-- Group -->
    <h3>Group</h3>

    <table class="table">
      <tbody>
        <% @review.submission.group.users.each do |user| %>
          <tr>
            <td><%= user.studentnumber %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if (@review.status != 'mailed') %>
  <%= form_for @review, :url => update_finish_review_path(@review.id) do |f| %>
    <% unless @grade_options.empty? %>
      <p>
        Grade:
        <%= f.select(:grade, @grade_options) %>
      </p>
    <% end %>
  
    <%= f.text_area :feedback, { :style => 'width: 600px; height: 600px;' } %>

    <p>
      <%= f.submit 'Save', :name => 'save', :class => 'btn btn-success' %>

      <% if @enable_mailing %>
        <%= f.submit 'Save + Mail', :name => 'mail', :class => 'btn' %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <p>Grade: <%= @review.grade %></p>

  <p class="feedback-preview"><%= @review.feedback.gsub('<', '&lt;').gsub('>', '&gt;').gsub("\n", "<br />\n").html_safe %></p>

  <% if @enable_mailing %>
    <%= link_to 'Reopen', reopen_review_path(@review), :class => 'btn' %>
  <% end %>
<% end %>

<p><%= link_to 'Back to menu', exercise_path(@exercise.id, :anchor => "group#{@review.submission.group.id}") %></p>
