<%= content_for :javascript do %>
  <%= javascript_tag do %>
    window.rubric = <%= (@exercise.rubric || 'undefined').html_safe %>;
    window.review = <%= (@review.payload || 'undefined').html_safe %>;
  <% end %>

  <%= javascript_include_tag 'annotationEditor' %>
<% end %>

<div class="page-header">
  <h1><%= "#{@course.full_name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<div class="annotation-editor" id="annotation-editor" data-submission-url="<%= submission_path(@submission.id, :format => 'png') %>" data-page-count="<%= @page_count %>">
  <div id="submission-pages" data-bind="foreach: submission_pages">
    <div class="submission-page">
      <img data-bind="attr: { src: src, alt: alt }, style: { minWidth: width(), minHeight: height() }, onload: onLoad" />
      
      <!-- ko foreach: annotations -->
        <div class="annotation" data-bind="position: screenPosition, clickBubble: false">
          <div class="statusbar">
            <!-- ko if: phrase -->
              <span data-bind="text: phrase.criterion.page.name"></span> / <span data-bind="text: phrase.criterion.name"></span>
            <!-- /ko -->
            <div class="clearfix"></div>
          </div>
          
          <div class="grade" data-bind="text: grade">
          </div>
          <div class="content" data-bind="html: escaped_content">
          </div>
          <div class="clearfix"></div>
        </div>
      <!-- /ko -->
    </div>
    <!--hr /-->
  </div>
</div>
