<%= content_for :javascript do %>
  <%= javascript_include_tag 'views/reviews/annotation' %>
<% end %>

<div class="container-fluid">
  <div class="page-header">
    <h1><%= "#{@course.full_name} (#{@course_instance.name}) - #{@exercise.name}" %> </h1>
  </div>
  
  <% if @course.has_teacher(current_user) && @review.status == 'mailed' %>
    <div class="row-fluid">
      <div class="alert alert-warning">
        <p>This review has already been mailed and cannot be modified any more.</p>
        <%= link_to 'Reopen', reopen_review_path(@review), :class => 'btn btn-default' %>
        <%= link_to 'Invalidate', invalidate_review_path(@review), :class => 'btn btn-default' %>
      </div>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="annotation-editor" id="annotation-editor" data-submission-url="<%= submission_path(@submission.id, :format => 'png') %>"
      data-page-count="<%= @page_count %>"
      data-page-width="<%= @submission.page_width %>"
      data-page-height="<%= @submission.page_height %>"
      data-group-token="<%= params[:group_token] %>"
      >
      <div id="submission-pages" data-bind="foreach: submission_pages">
        <div class="submission-page">
          <% if @submission.has_html_view? %>
            <div class="html-view">
              <%= @submission.html_view.html_safe %>
            </div>
          <% else %>
            <img data-bind="attr: { src: src, alt: alt }, style: { minWidth: width(), minHeight: height() }, onload: onLoad" />
          <% end %>
          
          <!-- ko foreach: annotations -->
            <div class="annotation" data-bind="position: screenPosition, click: clickAnnotation, clickBubble: false, css: {minimized: minimized()}">
              <span class="glyphicon glyphicon-align-left minimized-phrase"></span>
             
              <div class="grade" data-bind="text: grade">
              </div>
              <div class="content" data-bind="html: escaped_content">
              </div>
              <div class="statusbar">
                <button class="btn btn-mini pull-right minimize-button" title="Minimize" data-bind="click: $parent.minimizeAnnotation, clickBubble: false">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <button class="btn btn-mini pull-right maximize-button" title="Maximize" data-bind="click: $parent.maximizeAnnotation, clickBubble: false">
                  <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
                <!-- ko if: phrase -->
                  <span data-bind="text: phrase.criterion.page.name"></span> / <span data-bind="text: phrase.criterion.name"></span>
                <!-- /ko -->
              </div>
            </div>
          <!-- /ko -->
        </div>
        <!--hr /-->
      </div>
    </div>
  </div>
</div>

<%= render 'rate_review' %>

<% if params[:ref] == 'exercises' %>
  <div class="row-fluid">
    <div class="col-sm-12">
      <p><%= link_to t('Back'), @exercise %></p>
    </div>
  </div>
<% else %>
  <!-- Promotion -->
  <div class="footer">
    <div class="container">
      <div class="row intro">
        <div class="col-sm-12">
          <p>
            <a href="http://rubyric.com">Rubyric</a> is an online tool that allows you to receive submissions, create <strong>assessment rubrics</strong> and <strong>annotate submissions</strong> with feedback.
            Rubrics make it easy to give comprehensive feedback to students by allowing you to reuse commonly occurring feedback phrases.
            However, the phrases can be freely edited in order to give fully <strong>personalized feedback</strong> for each student.
          </p>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-12">
          <p>
            <a href="http://rubyric.com">Rubyric</a> is hosted by <a href="http://www.bythemark.com/" target="_blank">By The Mark Oy</a>, an educational technology company originally founded by a group of researchers and teachers from <a href="http://www.aalto.fi/en/" target="_blank">Aalto University</a>, Finland.
          </p>
          
          <p>
            email:
            contact<span class="obfuscate">-REMOVE-THIS-</span>@rubyric.com
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= hidden_field_tag :rubric_payload, @exercise.rubric %>
<%= hidden_field_tag :review_payload, @review.payload %>
<%= hidden_field_tag :page_sizes, @submission.page_sizes %>
