<!-- reviews/show.html.erb -->

<div class="page-header">
  <h1><%= "#{@course.full_name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<p>
  Submission:
  <%=l @submission.created_at, :format => :long %>
  (<%= link_to "#{@submission.extension}", submission_url(@submission, :member_token => params[:member_token], :group_token => params[:group_token]) %>)
</p>

<% unless @exercise.anonymous_graders %>
  <p>Reviewer: <%= @grader.firstname %> <%= @grader.lastname %></p>
<% end %>

<% unless @review.grade.blank? %>
  <p>Grade: <%= @review.grade %></p>
<% end %>


<p class="feedback-preview"><%= (@review.feedback || '').gsub('<', '&lt;').gsub('>', '&gt;').gsub("\n", "<br />\n").html_safe %></p>

<% if params[:ref] == 'exercises' %>
  <p><%= link_to 'Back', @exercise %></p>
<% else %>
  <p><%= link_to 'Back', submit_url(@exercise.id, :group => @group, :member_token => params[:member_token], :group_token => params[:group_token]) %></p>
<% end %>
