<tr class="group" id="group<%= assistant_group.id %>">
  <td colspan="4">
    <% if @exercise.anonymous_submissions %>
      Anonymous
    <% else %>
      <!-- Students -->
      <%= assistant_group.names_with_studentnumbers %>
    <% end %>
  </td>
</tr>
<% assistant_group.submissions.each do |submission| %>
  <tr class="submission" id="submission<%= submission.id %>">
    <% visible_reviews = submission.reviews.select {|review| review.user == current_user}.size %>
    
    <td rowspan="<%= [visible_reviews, 1].max %>">
      <div class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li>
            <%= link_to 'Create new review', review_submission_path(submission.id) %>
          </li>
        </ul>
      </div>
        
      <!-- Submission -->
      <span <%= submission.late?(@exercise) ? 'class="late"'.html_safe : nil %>><%=l submission.created_at %></span>
      <% unless submission.filename.blank? %>
        (<%= link_to "#{submission.extension}", submission_path(submission.id), :title => submission.filename %>)
      <% end %>
    </td>

    <!-- Reviews -->
    <% row = 0; submission.reviews.each do |review| %>
        <% next unless review.user == current_user %>
        <% if (row > 0) %>
          <tr class="submission">
        <% end; row += 1 %>
        <td>
          <% if current_user != review.user %>
            <%= link_to reviewer_name(review), review_path(:id => review.id, :ref => 'exercises') %>
          <% elsif ['mailed','invalidated'].include?(review.status) %>
            <%= link_to reviewer_name(review), review_path(:id => review.id, :ref => 'exercises') %>
          <% else %>
            <%= link_to "#{reviewer_name(review)} - edit review", edit_review_path(review.id) %>
          <% end %>
        </td>
        <td><%= review.status %></td>
        <td class="grade"><%= review.grade %></td>
      </tr>
    <% end # each
    %>
    <% if row == 0 %>
      <td>
        <div class="hover-buttons">
          <%= link_to 'Create review', review_submission_path(submission.id), :class => 'btn btn-default btn-mini' %>
        </div>
      </td>
      <td></td>
      <td></td>
      </tr>
    <% end %>
<% end %>

<tr class="spacer"><td colspan="4"></td></tr>
