<div class="col-lg-4 col-md-6">
  <div class="group well" id="group<%= collaborative_group.id %>">
    <!-- Name -->
    <% if @exercise.anonymous_submissions %>
      <h3>Group <%= collaborative_group.id %></h3>
    <% else %>
      <h3><%= collaborative_group.name %></h3>
    <% end %>

    <!-- Reviews -->
    <div class="submissions list-unstyled">
      <% collaborative_group.submissions.each do |submission| %>
        <!-- Thumbnail -->
        <div class="submission-thumbnail pull-left">
          <% if submission.annotatable? %>
            <% if submission.reviews.size > 0 %>
                <%= image_tag thumbnail_submission_path(submission), :alt => submission.filename %>
            <% else %>
              <%= link_to submission_path(submission) do %>
                  <%= image_tag thumbnail_submission_path(submission), :alt => submission.filename %>
              <% end %>
            <% end %>
          <% end %>
          
          <div class="filename"><%= link_to submission.filename, submission_path(submission) %></div>
        </div>
        
        <div>
          <div class="payload"><%= truncate(submission.payload, :length => 256) %></div>
          
          <ul class="reviews">
            <% submission.reviews.each do |review| %>
              <% if @exercise.collaborative_mode == 'review' && submission.annotatable? %>
                <li><%= link_to reviewer_name(review), edit_review_path(:id => review.id, :ref => 'exercises') %></li>
              <% else %>
                <li><%= link_to reviewer_name(review), review_path(:id => review.id, :ref => 'exercises') %></li>
              <% end %>
            <% end %>
          </ul>
          
          <% if @exercise.collaborative_mode == 'review' && !submission.annotatable? %>
            <%= link_to t('exercises.create_review'), review_submission_path(submission.id), :class => 'btn btn-mini' %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      <% end %>
    </div>
  
  </div>
</div>
