<% content_for :javascript do %>
    <%= javascript_include_tag 'editExercise' %>
<% end %>

<%= form_for([@course_instance, @exercise], html: {class: 'form-horizontal'}) do |f| %>
    <%= f.hidden_field :course_instance_id, value: @course_instance.id %>

    <!-- Name -->
    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
        <% if @exercise.errors[:name] %>
            <span class="error"><%= @exercise.errors[:name][0] %></span>
        <% end %>
      </div>
    </div>

    <% if @course_instance.submission_policy == 'lti' %>
        <div class="control-group">
          <%= f.label :lti_resource_link_id, 'LTI resource link ID', class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :lti_resource_link_id %>
            <span class="hint">e.g. exercise1</span>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :lti_resource_link_id_review, 'LTI resource link ID for peer review', class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :lti_resource_link_id_review %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :lti_resource_link_id_feedback, 'LTI resource link ID for viewing feedback', class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :lti_resource_link_id_feedback %>
          </div>
        </div>
    <% end %>

    <!-- Deadline -->
    <div class="control-group">
      <%= f.label :deadline, class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'exercise[deadline]', @exercise.deadline.nil? ? '' : l(@exercise.deadline) %>
      </div>
    </div>

    <!-- Group size -->
    <div class="control-group">
      <%= f.label :groupsizemax, 'Group size', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :groupsizemin, class: 'input-small' %>
        -
        <%= f.text_field :groupsizemax, class: 'input-small' %>
        <% if @exercise.errors[:groupsizemin].empty? && @exercise.errors[:groupsizemax].empty? %>
            <span class="hint">(Number of students in one group, min...max)</span>
        <% else %>
            <span class="error">Check values</span>
        <% end %>
      </div>
    </div>

    <!-- Submission type -->
    <div class="control-group">
      <%= f.label :submission_type, 'Submission type', class: 'control-label' %>
      <div class="controls">
        <label>
          <%= f.select(:submission_type, options_for_select([%w(File file), %w(Textarea textarea), ['File and textarea', 'file,textarea']], @exercise.submission_type)) %>
        </label>
      </div>
    </div>

    <!-- Allowed extensions -->
    <!--
    <div class="control-group">
      <%= f.label :allowed_extensions, class: 'control-label' %>
      <div class="controls">
        <%= f.hidden_field :allowed_extensions, id: 'allowed_extensions' %>
        <% Exercise::ALLOWED_EXTS.each do |ext| %>
            <div class="checkbox">
              <label><%= check_box_tag ext, ext, @exercise.allowed_extensions.include?(ext), class: 'allowed_extensions' %><%= ext %></label>
            </div>
        <% end %>
      </div>
    </div>
    -->

    <!-- Review mode -->
    <div class="control-group">
      <%= f.label :review_mode, 'Review mode', class: 'control-label' %>
      <div class="controls">
        <label>
          <%= f.select(:review_mode, options_for_select([%w(Annotation annotation), ['Plain text', 'text']], @exercise.review_mode)) %>
        </label>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :grader_can_email, 'Allow reviewers to send reviews immediately', class: 'control-label' %><br/>
      <div class="controls">
        <%= f.check_box :grader_can_email %>
      </div>
    </div>

    <%
      # <h2>Message to be shown before submitting (HTML allowed):</h2>
      # f.text_area :submit_pre_message, rows: 3, cols: 80

      # <h2>Message to be shown after submitting (HTML allowed):</h2>
      # f.text_area :submit_post_message, rows: 3, cols: 80
    %>

    <div class="control-group">
      <%= f.label :submit_pre_message, 'Submission instructions', class: 'control-label' %><br/>
      <div class="controls">
        <%= f.text_area :submit_pre_message, rows: 8, style: 'width: 30em' %>
      </div>
    </div>


    <h2>Peer review</h2>
    <!-- Peer review -->
    <div class="control-group">
      <%= f.label :peer_review_goal, 'Peer review', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :peer_review_goal, class: 'input-small' %>
        <span class="hint">(Number of peer reviews conducted by each student)</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :peer_review_timing, 'Open peer review', class: 'control-label' %>
      <div class="controls">
        <label>
          <%= f.select(:peer_review_timing, options_for_select([['As soon as there are submissions', 'immediately'], ['After the deadline of the assignment', 'after_deadline']], @exercise.peer_review_timing)) %>
        </label>
      </div>
    </div>

    <!-- Collaboration -->
    <div class="control-group">
      <%= f.label :collaborative_mode, 'Collaborative mode', class: 'control-label' %>
      <div class="controls">
        <label>
          <%= f.select(:collaborative_mode, options_for_select([['No', nil], ["View others' submissions and feedback", 'view'], ['Construct feedback collaboratively', 'review']], @exercise.collaborative_mode)) %>
        </label>
      </div>
    </div>


    <h2>Anonymity</h2>
    <div class="control-group">
      <%= f.label :anonymous_graders, 'Anonymous reviewers', class: 'control-label' %>
      <div class="controls">
        <%= f.check_box :anonymous_graders %>
        <span class="hint">Students cannot see the reviewer's name</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :anonymous_submissions, 'Anonymous students', class: 'control-label' %>
      <div class="controls">
        <%= f.check_box :anonymous_submissions %>
        <span class="hint">Reviewers cannot see students' names. (Does not apply to the teachers.)</span>
      </div>
    </div>

    <!-- Save -->
    <div class="control-group">
      <div class="controls">
        <% if @exercise.new_record? %>
            <%= link_to t(:Cancel), @course_instance, class: 'btn' %>
        <% else %>
            <%= link_to t(:Back), @exercise, class: 'btn' %>
        <% end %>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    var allowedExtensionsInput = document.getElementById('allowed_extensions');
    var allowedExtensionsOptions = $('.allowed_extensions');

    function updateInput() {
        var inputVal = allowedExtensionsOptions.map(function (i, op) {
            return {
                value: op.value,
                checked: op.checked
            };
        }).filter(function (i, obj) {
            return obj.checked;
        }).map(function (i, obj) {
            return obj.value
        }).get().join(' ');

        allowedExtensionsInput.value = inputVal;
    }

    allowedExtensionsOptions.change(updateInput);

    updateInput();
</script>
