<tr class="group" id="group<%= group.id %>">
  <td colspan="4">
    <!-- Reviewers -->
    <div class="pull-right hint">
      <%= (group.reviewers.collect do |user| "#{user.name}" end).join(', ') %>
    </div>
    
    <!-- Students -->
    <%= (group.users.collect do |user| "#{user.name} (#{user.studentnumber})" end).join(', ') %>
  </td>
</tr>
<% group.submissions.each do |submission| %>
  <tr class="submission" id="submission<%= submission.id %>">
    <td rowspan="<%= [submission.reviews.size,1].max %>">
      <div class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li>
            <%= link_to 'Create new review', review_submission_path(submission.id) %>
            <%= link_to 'Move submission...', move_submission_path(submission), :tabindex => '-1' %>
            <%= link_to 'Delete submission...', confirm_delete_submission_path(submission), :tabindex => '-1' %>
          </li>
        </ul>
      </div>
      
      <!-- Submission -->
      <span <%= submission.late?(@exercise) ? 'class="late"'.html_safe : nil %>><%=l submission.created_at %></span>
      (<%= link_to "#{submission.extension}", submission_path(submission.id), :title => submission.filename %>)
    </td>

    <!-- Reviews -->
    <% if submission.reviews.empty? %>
      <td>
        <div class="hover-buttons">
          <%= link_to 'Create review', review_submission_path(submission.id), :class => 'btn btn-mini' %>
        </div>
      </td>
      <td></td>
      <td></td>
      </tr>
    <% else %>
      <% row = 0; submission.reviews.each do |review| %>
          <% if (row > 0) %>
            <tr class="submission">
          <% end; row += 1 %>
          <td>
            <%= check_box 'reviews_checkboxes', review.id, {:class => 'review_check ' + (review.status == 'finished' ? ' review_check_finished' : '')} %>

            <% if ['mailed','invalidated'].include?(review.status) %>
              <%= link_to review.user.name, finish_review_path(review.id) %>
            <% else %>
              <%= link_to review.user.name, edit_review_path(review.id) %>
            <% end %>
          </td>
          <td><%= review.status %></td>
          <td class="grade"><%= review.grade %></td>
        </tr>
      <% end # each
      %>
    <% end # if
    %>
<% end %>

<tr class="spacer"><td colspan="4"></td></tr>
