<tr id="submission<%= submission.id %>">
  <td>
    <%= check_box 'submissions_checkboxes', submission.id, {:class => 'submission_check'} %>
  </td>
  <td>
    <!-- Students -->
    <%= submission.id %>
  </td>
  <td>
    <!-- View file -->
    <%= link_to 'View', {:controller => 'submissions', :action => 'show', :id => submission.id} %>
  </td>

  <td>
    <!-- Review -->
    <table>
      <% submission.reviews.each do |review| %>
        <tr>
          <td><%= check_box 'reviews_checkboxes', review.id, {:class => review.status == 'finished' ? 'review_check review_check_finished' : 'review_check'} %></td>
          <td><%= link_to h(review.user.name), {:controller => 'reviews', :action => 'edit', :id => review.id} %></td>
          <td><%= review.grade %></td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>
