<!-- exercises/batch_assign.html.erb -->

<h1>Batch assign</h1>

<p class="hint">
  Paste the CSV list below.<br />
  All submissions that have the specified student as a group member, will be assigned to the specified reviewer. Existing assignments are not duplicated, i.e. it is safe to upload the same list twice.<br />
  (Format: studentnumber_of_student, studentnumber_of_reviewer)
</p>

<div class="float">
  <% form_tag batch_assign_exercise_path(@exercise), :html => { :multipart => true } do |f| -%>
    <%= text_area_tag :paste, nil, :rows => 25, :cols => 80 %>
    <p><%= submit_tag 'Upload' %></p>
  <% end -%>

  <% form_for :csv, batch_assign_exercise_path(@exercise), :html => { :multipart => true } do |f| -%>
    <p class="hint">Or upload a csv file (only utf8 supported)</p>
    <%= f.file_field :file %>
    <p><%= submit_tag 'Upload' %></p>
  <% end -%>
</div>

<div class="float">
  <h2>Studentnumbers</h2>

  <table>
    <% @course.teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.studentnumber %></td>
      </tr>
    <% end %>
    <% @course_instance.assistants.each do |assistant| %>
      <tr>
        <td><%= assistant.name %></td>
        <td><%= assistant.studentnumber %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="clear"></div>

<p><%= link_to 'Back', @exercise %></p>
