<% content_for :javascript do %>
  <%= javascript_include_tag 'bootstrap.js' %>
<% end %>

<div class="page-header">
  <h1><%= "#{@course.full_name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<!-- Reviews -->
<% unless @assigned_groups.empty? %>
  <h2><%=t '.reviews' %></h2>

  <table class="assignments">
    <thead>
      <tr>
        <td>Submission</td>
        <td>Review</td>
        <td>Status</td>
        <td>Grade</td>
      </tr>
    </thead>
    <tbody id="submissions_table">
      <%= render :partial => 'assistant_group', :collection => @assigned_groups %>
    </tbody>
  </table>
<% end %>


<!-- Submissions -->
<% unless @available_groups.empty? %>
  <% if @assigned_groups.empty? %>
    <h2><%=t '.submissions' %></h2>
  <% else %>
    <h2 class="gap"><%=t '.my_submissions' %></h2>
  <% end %>
  
  <p>
  <table class="assignments">
    <% @available_groups.each do |group| %>
      <% submissions = group.submissions.where(:exercise_id => @exercise.id) %>
      <tr class="group">
        <td colspan='3'>
          <%= group.name %>
        </td>
      </tr>
      
      <% if submissions.empty? %>
        <tr class="submission">
          <td colspan='3'>No submissions to this assignment</td>
        </tr>
      <% else %>
        <% submissions.each do |submission| %>
          <tr class="submission">
            <td><%=l submission.created_at, :format => :long %></td>
            <td>(<%= link_to "#{submission.extension}", submission %>)</td>
            <td>
              <% submission.reviews.each_with_index do |review, number| %>
                <% if review.status == 'mailed' %>
                  <%= link_to @exercise.anonymous_graders ? t('.anonymous_feedback', :number => number + 1) : t('.view_feedback_from', :name => review.user.name), review_path(:id => review.id, :ref => 'exercises') %>
                  <% unless review.filename.blank? %>
                    (<%= link_to review.filename, download_review_path(review) %>)
                  <% end %>
                  <br />
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      
      <tr class="spacer"><td colspan="3"></td></tr>
    <% end %>
  </table>
  </p>

  <p class=""><%= link_to t('.new_submission_button'), submit_url(@exercise.id), :class => 'btn' %></p>
<% end %>
