<% content_for :javascript do %>
  <%= javascript_include_tag 'bootstrap.js' %>
<% end %>

<div class="page-header">
  <h1><%= "#{@course.code} #{@course.name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<% unless @assigned_groups.empty? %>
  <!-- Reviews -->
  <table class="assignments">
    <thead>
      <tr>
        <td>Submission</td>
        <td>Review</td>
        <td>Status</td>
        <td>Grade</td>
      </tr>
    </thead>
    <tbody id="submissions_table">
      <%= render :partial => 'assistant_group', :collection => @assigned_groups %>
    </tbody>
  </table>
  
<% else %>
  
  <% unless @available_groups.empty? %>
    
    <h3>Submissions</h3>
    <!-- Submissions -->
    <table class="assignments">
      <% @available_groups.each do |group| %>
        <% submissions = group.submissions.where(:exercise_id => @exercise.id) %>
        <tr class="group">
          <td colspan='3'>
            <%= group.users.collect {|user| user.name }.join(', ') %>
          </td>
        </tr>
        
        <% if submissions.empty? %>
          <tr class="submission">
            <td colspan='3'>No submissions to this assignment</td>
          </tr>
        <% else %>
          <% submissions.each do |submission| %>
            <tr class="submission">
              <td><%=l submission.created_at, :format => :long %></td>
              <td>(<%= link_to "#{submission.extension}", submission %>)</td>
              <td>
                <% submission.reviews.each do |review| %>
                  <% if review.status == 'mailed' %>
                    <%= link_to 'View feedback', review %>
                    <% unless review.filename.blank? %>
                      (<%= link_to review.filename, download_review_path(review) %>)
                    <% end %>
                  <% end %>
                  <br />
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
        
        <tr class="spacer"><td colspan="3"></td></tr>
      <% end %>
    </table>
  <% end %>

  <hr />

  <p><%= link_to 'New submission', submit_url(@exercise.id), :class => 'btn' %></p>

<% end %>
