<% content_for :javascript do %>
  <%= javascript_include_tag 'bootstrap.js' %>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover({'trigger': 'hover', 'placement': 'top', 'html': true})
      $('[data-toggle="tooltip"]').popover({'trigger': 'hover', 'placement': 'top', 'html': true})
    })
  </script>
<% end %>

<div class="page-header">
  <h1><%= "#{@course.full_name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<!-- My submissions -->
<% unless @is_assistant %>
  <%= render partial: 'my_submissions' %>
<% end %>


<!-- Reviews -->
<% if !@assigned_groups.empty? || @exercise.peer_review? %>
  <h2><%=t '.reviews' %></h2>
  
  <!-- Peer review -->
  <% if @exercise.peer_review? %>
    <p class="hint">
      <% if @exercise.peer_review_goal == 1 %>
        <%= t('.peer_review_hint_singular') %>
      <% elsif @exercise.peer_review_goal > 1 %>
        <%= t('.peer_review_hint', peer_review_count: @exercise.peer_review_goal) %>
      <% end %>
      
      <% if @exercise.peer_review_timing == 'after_deadline' && Time.now.utc < @exercise.deadline %>
        <%= t('.peer_review_active_after_deadline') %>
      <% elsif @own_submission_count < 1 && !(@exercise.id == 289 || @exercise.id == 261) %><!-- Koodiaapinen hack. Remove after 2016. -->
        <%= t('.peer_review_submit_first') %>
      <% end %>
    </p>
  <% end %>

  <% unless @assigned_groups.empty? %>
    <table class="assignments">
      <thead>
        <tr>
          <td>Submission</td>
          <td>Review</td>
          <td>Status</td>
          <td>Grade</td>
        </tr>
      </thead>
      <tbody id="submissions_table">
        <%= render partial: 'assistant_group', collection: @assigned_groups %>
      </tbody>
    </table>
  <% end %>
  
  <% if @exercise.peer_review_active? && (@own_submission_count > 0 || @exercise.id == 289 || @exercise.id == 261) %><!-- Koodiaapinen hack. Remove after 2016. -->
    <%= button_to t('.new_peer_review'), exercise_create_peer_review_path(@exercise.id), class: 'btn btn-primary btn-large' %>
  <% end %>

<% end %>


<!-- Viewable peer groups -->
<% if @course_instance.has_student(current_user) && !@viewable_peer_groups.empty? %>
  <div class="collaborative-assignments">
    <h2 class="large-gap"><%=t '.viewable_groups' %></h2>

    <% if @exercise.collaborative_mode == 'view' %>
      <p class="hint"><%=t '.viewable_groups_instructions_view' %></p>
    <% elsif @exercise.collaborative_mode == 'review' %>
      <p class="hint"><%=t '.viewable_groups_instructions_review' %></p>
    <% end %>
    
    <%= render partial: 'collaborative_group', collection: @viewable_peer_groups %>
  </div>
<% end %>

<% if @is_assistant %>
  <%= render partial: 'my_submissions' %>
<% end %>
