<div class="page-header">
  <h1>
    <%= "#{@course.full_name}" %>
    (<%= "#{@course_instance.name}" %>) -
    <%= @exercise.name %>
  </h1>
</div>

<%= form_tag exercise_results_path(@exercise) do %>
  <div class="well">
    <p>
      If multiple reviews exist for the same group, include<br />
      <%= radio_button_tag 'include', 'all', params[:include] == 'all' %> All reviews<br />
      <%= radio_button_tag 'include', 'combined', params[:include] != 'all' %> Combined grade
    </p>
    
    <p>
      <%= button_tag :name => :format, :value => 'html', :class => 'btn btn-primary' do %>Resfresh view<% end %>
      <%= button_tag :name => :format, :value => 'csv', :class => 'btn btn-default' do %><i class="icon-download"></i> Download CSV spreadsheet<% end %>
    </p>
  </div>
<% end %>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>student ID</th>
      <th>first name</th>
      <th>last name</th>
      <th>email</th>
      <th>grade</th>
      <% if params[:include] == 'all' %>
        <th>submitted_at</th>
        <th>reviewer</th>
      <% end %>
      <% if @exercise.peer_review_goal && @exercise.peer_review_goal > 0 && params[:include] != 'all' %>
        <th title="finished (created)">peer review count (*)</th>
      <% end %>
      <th>notes</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <% if @course_instance.submission_policy == 'lti' %>
          <td><% if result[:member].user %><%= result[:member].user.lti_user_id %><% end %></td>
        <% else %>
          <td><%= result[:member].studentnumber %></td>
        <% end %>
        <td><% if result[:member].user %><%= result[:member].user.firstname %><% end %></td>
        <td><% if result[:member].user %><%= result[:member].user.lastname %><% end %></td>
        <td><%= result[:member].email %></td>
        <td><%= result[:grade] %></td>
        <% if params[:include] == 'all' %>
          <td><% if result[:submission] %><%= result[:submission].created_at %><% end %></td>
          <td><% if result[:reviewer] %><%= result[:reviewer].name  %> <% unless result[:reviewer].studentnumber.blank? %>(<%= result[:reviewer].studentnumber %>)<% end %><% end %></td>
        <% end %>
        <% if @exercise.peer_review_goal && @exercise.peer_review_goal > 0 && params[:include] != 'all' %><td>
          <%= result[:finished_peer_review_count] %>
          <% if result[:finished_peer_review_count] != result[:created_peer_review_count] %>(<%= result[:created_peer_review_count] %>)<% end %>
        </td><% end %>
        <td><%= result[:notes] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @exercise.peer_review_goal && @exercise.peer_review_goal > 0 && params[:include] != 'all' %>
  <p>* number of unfinished peer reviews in parenthesis</p>
<% end %>
