<div class="page-header">
  <h1>
    <%= "#{@course.full_name}" %>
    (<%= "#{@course_instance.name}" %>) -
    <%= @exercise.name %>
  </h1>
</div>

<%= form_tag exercise_results_path(@exercise) do %>
  <div class="well">
    <p>
      If multiple reviews exist for the same group, include<br />
      <%= radio_button_tag 'include', 'all', params[:include] != 'best' %> All grades<br />
      <%= radio_button_tag 'include', 'best', params[:include] == 'best' %> Best grade
    </p>
    
    <p>
      <%= button_tag :name => :format, :value => 'html', :class => 'btn btn-primary' do %>Resfresh view<% end %>
      <%= button_tag :name => :format, :value => 'csv', :class => 'btn btn-default' do %><i class="icon-download"></i> Download CSV spreadsheet (new)<% end %>
    </p>
  </div>
<% end %>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <% if @course_instance.submission_policy == 'lti' %>
        <th>student ID</th>
      <% else %>
        <th>studentnumber</th>
      <% end %>
      <th>first name</th>
      <th>last name</th>
      <th>email</th>
      <th>grade</th>
      <th>submitted_at</th>
      <th>reviewer</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <% if @course_instance.submission_policy == 'lti' && result[0].user %>
          <td><%= result[0].user.lti_user_id %></td>
        <% else %>
          <td><%= result[0].studentnumber %></td>
        <% end %>
        <td><%= result[0].firstname %></td>
        <td><%= result[0].lastname %></td>
        <td><%= result[0].email %></td>
        <td><%= result[1].grade %></td>
        <td><%= result[1].submission.created_at %></td>
        <td><% if result[1].user %><%= result[1].user.name  %> (<%= result[1].user.studentnumber %>)<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--p>Note: In case multiple reviews exist for the same group, the review with the highest grade counts.</p-->
