<div class="page-header">
  <h1>
    <%= "#{@course.full_name}" %>
    (<%= "#{@course_instance.name}" %>) -
    <%= @exercise.name %>
  </h1>
</div>

<p>
  <%= link_to exercise_results_path(@exercise, :format => :csv), :class => 'btn btn-default' do %><i class="icon-download"></i> Download CSV spreadsheet<% end %> <span class="hint"></span>
</p>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>studentnumber</th>
      <th>first name</th>
      <th>last name</th>
      <th>email</th>
      <th>grade</th>
      <th>reviewer</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <% if @course_instance.submission_policy == 'lti' && result[0].user %>
          <td><%= result[0].user.lti_user_id %></td>
        <% else %>
          <td><%= result[0].studentnumber %></td>
        <% end %>
        <td><%= result[0].firstname %></td>
        <td><%= result[0].lastname %></td>
        <td><%= result[0].email %></td>
        <td><%= result[1].grade %></td>
        <td><%= result[1].user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Note: In case multiple reviews exist for the same group, the review with the highest grade counts.</p>
