<!-- exercises/submissions.html.erb -->
<div class="page-header">
  <h1>
    <%= "#{@course.code} #{@course.name}" %>
    (<%= "#{@course_instance.name}" %>) -
    <%= @exercise.name %>
  </h1>
</div>

<% if @groups.empty? %>
  <!-- No groups warning -->
  <div class="alert alert-info">
    No submissions have been received yet. 
    Give the following link to students for submitting:
    <%= link_to submit_url(@exercise.id), submit_url(@exercise.id) %>
  </div>
<% end %>

<% if @groups.empty? %>
  <!-- No rubric warning  -->
  <div class="alert alert-info">
    The grading rubric has not been prepared. <%= link_to 'Edit rubric', edit_exercise_rubric_path(@exercise), :class => 'btn btn-primary' %>
  </div>
<% end %>


<p>
  <b>Deadline:</b>
  <% if @exercise.deadline.blank? %>
    <%= link_to 'No deadline set', edit_exercise_path(@exercise), :class => 'warning' %>
  <% else %>
    <%=l @exercise.deadline %>
  <% end %>
</p>

<p>
  <strong>Group size: </strong>
  <% if @exercise.groupsizemax > @exercise.groupsizemin %>
    <%= @exercise.groupsizemin %> - <%= @exercise.groupsizemax %>
  <% else %>
    <%= @exercise.groupsizemin %>
  <% end %>
</p>

<p><strong>Submit url: </strong><%= link_to submit_url(@exercise.id), submit_url(@exercise.id) %> <span class="hint">- Give this link to students.</span></p>
  
<% unless @groups.empty? %>
  <h2>Submissions</h2>

  <table class="assignments">
    <thead>
      <tr>
        <td>Submission</td>
        <td>Review</td>
        <td>Status</td>
        <td>Grade</td>
      </tr>
    </thead>
    <tbody id="submissions_table">
      <%= render :partial => 'group', :collection => @groups %>
    </tbody>
    <tfoot>
      <tr>
        <td>
        </td>
        <td>
          <button class="btn" id="reviews-select-all" onClick="return false;">Select all</button>
          <button class="btn" id="reviews-select-finished" onClick="return false;">Select finished</button>
          <button class="btn" id="reviews-select-none" onClick="return false;">Select none</button>
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr class="spacer">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>
        </td>
        <td>
          <p>
            <%= submit_tag 'Mail selected reviews', :name => 'mail', :class => 'btn' %>
          </p>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
<% end %>
