<!-- exercises/submissions.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'submissions.js' %>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover({'trigger': 'hover', 'placement': 'top'})
      $('[data-toggle="tooltip"]').popover({'trigger': 'hover', 'placement': 'top'})
    })
  </script>
<% end %>

<div class="page-header">
  <div class="dropdown pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li><%= link_to 'Generate example submissions', exercise_create_example_submissions_path(@exercise) %></li>
      <li><%= link_to 'Download submissions', exercise_archive_path(@exercise) %></li>
    </ul>
  </div>
  <h1>
    <%= "#{@course.full_name}" %>
    (<%= "#{@course_instance.name}" %>) -
    <%= @exercise.name %>
  </h1>
</div>

<% if @groups.empty? %>
  <!-- No groups warning -->
  <div class="alert alert-info">
    <p>
      No submissions have been received yet. 
      Give the following link to students for submitting:
      <%= link_to submit_url(@exercise.id), submit_url(@exercise.id) %>
    </p>
  
    <p>
      or <%= link_to 'Generate example submissions', exercise_create_example_submissions_path(@exercise), :class => 'btn btn-default' %>
    </p>
  </div>
<% end %>

<% if @exercise.rubric.blank? %>
  <!-- No rubric warning  -->
  <div class="alert alert-info">
    The grading rubric has not been prepared. <%= link_to 'Edit rubric', edit_exercise_rubric_path(@exercise), :class => 'btn btn-default' %>
  </div>
<% end %>


<p>
  <b>Deadline:</b>
  <% if @exercise.deadline.blank? %>
    <%= link_to 'No deadline set', edit_exercise_path(@exercise), :class => 'warning' %>
  <% else %>
    <%=l @exercise.deadline %>
  <% end %>
</p>

<p>
  <strong>Group size: </strong>
  <% if @exercise.groupsizemax > @exercise.groupsizemin %>
    <%= @exercise.groupsizemin %> - <%= @exercise.groupsizemax %>
  <% else %>
    <%= @exercise.groupsizemin %>
  <% end %>
</p>

<% if @course_instance.submission_policy != 'lti' %>
  <p><strong>Submit url: </strong><%= link_to submit_url(@exercise.id), submit_url(@exercise.id) %> <span class="hint">- Give this link to students.</span></p>
<% end %>
  
<% unless @groups.empty? %>
  <h2>
    Submissions
    <% unless @exercise.collaborative_mode.blank? %>
      <div class="btn-group">
        <%= link_to exercise_path(@exercise),                        :class => "btn btn-default #{params[:view] != 'thumbnails' ? 'active' : ''}", :title => "List view" do %><span class="glyphicon glyphicon-align-justify"></span><% end %>
        <%= link_to exercise_path(@exercise, :view => 'thumbnails'), :class => "btn btn-default #{params[:view] == 'thumbnails' ? 'active' : ''}", :title => "Thumbnail view" do %><span class="glyphicon glyphicon-th"></span><% end %>
      </div>
    <% end %>
  </h2>
  
  <% if params[:view] == 'thumbnails' %>
    <div class="collaborative-assignments">
      <%= render :partial => 'collaborative_group', :collection => @groups %>
    </div>
  <% else %>
    <%= form_tag exercise_send_reviews_path(@exercise) do %>
      <table class="assignments hover-buttons">
        <thead>
          <tr>
            <td>Submission</td>
            <td>Review</td>
            <td>Status</td>
            <td>Grade</td>
          </tr>
        </thead>
        <tbody id="submissions_table">
          <%= render :partial => 'group', :collection => @groups %>
        </tbody>
        <tfoot>
          <tr>
            <td><%= @groups.size %> groups
            </td>
            <td>
              <button class="btn btn-default" id="reviews-select-all" onclick="return false;"> Select all</button>
              <button class="btn btn-default" id="reviews-select-finished" onclick="return false;">Select finished</button>
              <button class="btn btn-default" id="reviews-select-none" onclick="return false;">Select none</button>
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr class="spacer">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
            </td>
            <td>
              <p>
                  <button type="submit" class='btn btn-default'>
                    <i class="icon-envelope"></i> Deliver selected reviews
                  </button>
              </p>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  <% end %>
<% end %>

<% if current_user.tester == 'alpha' %>
  <%= link_to 'Batch upload submissions', batch_upload_exercise_submissions_path(:exercise_id => @exercise.id) %>
<% end %>
