<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Rubyric
    <%= '- ' + @exercise.name if @exercise %>
  </title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
</head>

<body>

<%= render :template => 'layouts/top' %>

<div class="container-fluid">
  <div class="row-fluid">
    <!-- Left navigation -->
    <div class="span2 leftnavicolumn">
      <% if @course and !@course.new_record? %>
        <ul class="naviButtons">
          <li><%= link_to @course.name, course_path(@course) %></li>
          <% if @is_teacher || is_admin?(current_user) %>
            <ul>
              <li><%= link_to 'Settings', edit_course_path(@course) %></li>
            </ul>
          <% end %>
        </ul>

        <% if @course_instance and !@course_instance.new_record? %>
          <!-- Selected instance -->
          <ul class="naviButtons">
            <li><%= link_to @course_instance.name, course_instance_path(@course_instance) %></li>
            <% if @is_teacher || is_admin?(current_user) %>
              <ul>
                <li><%= link_to 'Settings', edit_course_instance_path(@course_instance) %></li>
              </ul>
            <% end %>
          </ul>

          <% if @exercise and !@exercise.new_record?%>
            <!-- Selected exercise -->
            <ul class="naviButtons">
              <li><%= link_to @exercise.name, exercise_path(@exercise) %></li>
              <% if @is_teacher || is_admin?(current_user) %>
                <ul>
                  <li><%= link_to 'Settings', edit_exercise_path(@exercise) %></li>
                  <li><%= link_to 'Rubric', edit_exercise_rubric_path(@exercise) %></li>
                  <li><%= link_to 'Submissions', exercise_path(@exercise) %></li>
                  <li><%= link_to 'Statistics', exercise_statistics_path(@exercise) %></li>
                  <li><%= link_to 'Results', exercise_results_path(@exercise) %></li>
                </ul>
              <% end %>
            </ul>
          <% else %>
            <!-- List of exercises-->
            <ul class="naviButtons">
              <li>Exercises</li>
              <% @course_instance.exercises.each do |exercise| %>
                <ul>
                  <li><%= link_to exercise.name, exercise_path(exercise) %></li>
                </ul>
              <% end %>
            </ul>
          <% end %>
        <% else %>
          <!-- List of instances -->
          <ul class="naviButtons">
            <li>Instances</li>
            <% @course.course_instances.each do |instance| %>
              <ul>
                <li><%= link_to instance.name, course_instance_path(instance) %></li>
              </ul>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>

    <!-- Content -->
    <div class="span8">
      <!-- Flash messages -->
      <% if flash[:warning] %>
        <p class="flash flashWarning"><%= flash[:warning] %></p>
      <% end %>

      <% if flash[:success] %>
        <p class="flash flashSuccess"><%= flash[:success] %></p>
      <% end %>

      <% if flash[:error] %>
        <p class="flash flashError"><%= flash[:error] %></p>
      <% end %>

      <%= yield  %>
    </div>

    <div class="span2 helpcolumn">
      Help
    </div>
  </div>
</div>

</body>
</html>
