<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    <% if @exercise && !@exercise.new_record? %>
      <%= @exercise.name %> - Rubyric
    <% elsif @course && !@course.new_record? %>
      <%= @course.name %> - Rubyric
    <% else %>
      Rubyric
    <% end %>
  </title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
  <%= render :partial => 'shared/analytics' -%>
</head>

<body>

<%= render :template => 'layouts/top' %>

<div class="container-fluid">
  <div class="row-fluid">
    <!-- Left navigation -->
    <div class="span2 leftnavicolumn">
      <% if @course and !@course.new_record? %>

        <ul class="nav nav-list well">
          <!-- Course -->
          <li class="nav-header">Course</li>
          <li class="<%= active_nav('courses', 'show') %>"><%= link_to @course.name, course_path(@course) %></li>
          <% if can? :update, @course %>
            <li class="<%= active_nav('courses', 'edit') %>"><%= link_to edit_course_path(@course) do %><i class="icon-wrench"></i> Settings<% end %></li>
            <li class="<%= active_nav('teachers', 'index') %>"><%= link_to course_teachers_path(@course) do %><i class="icon-user"></i> Instructors<% end %></li>
          <% end %>


          <% if @course_instance and !@course_instance.new_record? %>
            <!-- Instance -->
            <li class="nav-header">Instance</li>
            <li class="<%= active_nav('course_instances', 'show') %>"><%= link_to @course_instance.name, course_instance_path(@course_instance) %></li>
            <% if can? :update, @course_instance %>
              <li class="<%= active_nav('course_instances', 'edit') %>"><%= link_to edit_course_instance_path(@course_instance) do %><i class="icon-wrench"></i> Settings<% end %></li>
              <li class="<%= active_nav('reviewers', 'index') %>"><%= link_to course_instance_reviewers_path(@course_instance) do %><i class="icon-user"></i> Reviewers<% end %></li>
              <!--li class="<%= active_nav('students', 'show') %>"><%= link_to course_instance_students_path(@course_instance) do %><i class="icon-user"></i> Students<% end %></li-->
              <li class="<%= active_nav('groups', 'index') %>"><%= link_to course_instance_groups_path(@course_instance) do %><i class="icon-th"></i> Groups<% end %></li>
            <% end %>

            <!-- List of exercises-->
            <li class="nav-header">Assignments</li>
            <% @course_instance.exercises.each do |exercise| %>
              <% if exercise == @exercise && !@exercise.new_record? %>
                <li class="<%= active_nav('exercises', 'show') %>"><%= link_to exercise.name, exercise_path(exercise) %></li>
                <% if can? :update, @course_instance %>
                  <li class="<%= active_nav('exercises', 'edit') %>"><%= link_to edit_exercise_path(@exercise) do %><i class="icon-wrench"></i> Settings<% end %></li>
                  <li class="<%= active_nav('rubrics', 'edit') %>"><%= link_to edit_exercise_rubric_path(@exercise) do %><i class="icon-th-list"></i> Rubric<% end %></li>
                  <li class="<%= active_nav('exercises', 'results') %>"><%= link_to exercise_results_path(@exercise) do %><i class="icon-list-alt"></i> Results<% end %></li>
                  <!--li><%= link_to exercise_statistics_path(@exercise) do %><i class="icon-tasks"></i> Statistics<% end %></li-->
                <% end %>
              <% else %>
                <li><%= link_to exercise.name, exercise_path(exercise) %></li>
              <% end %>
            <% end %>
          <% else %>
            <!-- List of instances -->
            <li class="nav-header">Instances</li>
            <% @course.course_instances.each do |instance| %>
              <li><%= link_to instance.name, course_instance_path(instance) %></li>
            <% end %>
          <% end %>

        </ul>
      <% end %>
    </div> <!-- / left column -->

    <!-- Content -->
    <div class="span8">
      <!-- Flash messages -->
      <% if flash[:warning] %>
        <div class="alert"><%= flash[:warning] %></div>
      <% end %>

      <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error"><%= flash[:error] %></div>
      <% end %>

      <%= yield  %>
    </div>

    <div class="span2 helpcolumn">
    </div>
  </div>
</div>

</body>
</html>
