<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    <% if @exercise && !@exercise.new_record? %>
      <%= @exercise.name %> - Rubyric
    <% elsif @course && !@course.new_record? %>
      <%= @course.name %> - Rubyric
    <% else %>
      Rubyric
    <% end %>
  </title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
</head>

<body>

<div class="container-fluid">
  <!-- Flash messages -->
  <% if flash[:warning] %>
    <div class="alert"><%= flash[:warning] %></div>
  <% end %>

  <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>

  <% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
  <% end %>

  <%= yield  %>
</div>

</body>
</html>
