<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="https://rubyric.com/screenshot.jpg"/>
  <meta property="og:site_name" content="Rubyric"/>
  <meta property="og:title" content="Assessment and Annotation Tool"/>
  <meta property="og:type" content="product"/>
  <meta property="og:url" content="https://rubyric.com"/>
  <meta property="fb:admins" content="100003603067984"/>
  <meta property="fb:app_id" content="670208806400720"/>
  <meta property="og:description" content="Rubyric is an online tool that allows you to receive submissions, create assessment rubrics and annotate submissions with feedback. Rubrics make it easy to give comprehensive feedback to students by allowing you to reuse commonly occurring feedback phrases. However, the phrases can be freely edited in order to give fully personalized feedback for each student. "/>
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <title>Rubyric - Annotation and Assessment Tool</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application-new", :media => "all" %>
  <%= yield(:stylesheets) %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
  <%= render :partial => 'shared/analytics' -%>
</head>

<body>

  <%= yield  %>

</body>
</html>
