<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= yield(:meta) %>
  <title>Rubyric
    <%= "- #{@exercise.name}" if @exercise && !@exercise.new_record? %>
  </title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
  <%= render :partial => 'shared/analytics' -%>
</head>

<body>

<%= render :template => 'layouts/top' %>

<div class="container">
  <!-- Content -->
  <div class="row">
    <!-- Flash messages -->
    <% if flash[:warning] %>
      <div class="alert"><%= flash[:warning] %></div>
    <% end %>

    <% if flash[:success] %>
      <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-error"><%= flash[:error] %></div>
    <% end %>
  </div>

  <%= yield  %>
</div>

<% if content_for?(:footer) -%>
<footer class="footer">
  <div class="container">
    <%= yield(:footer) %>
  </div>
</footer>
<% end -%>

</body>
</html>
