<div class="topnavi">
  <%= link_to root_path do image_tag 'logo.png', :alt => 'Rubyric' end %>

  <!--
  <div class="login">
    <%
    user = current_user
    if user
    %>
      <%= link_to "#{h(user.firstname)} #{h(user.lastname)} (#{h(user.studentnumber)})", edit_user_path(user.id) %>
      <% #= link_to 'Logout', logout_url
      %>
    <% end %>
  </div>

  <div class="navibar">
    <ul>
      <% if !current_user %>
        <li><%= link_to 'Log In', new_session_path %></li>
      <% else %>
        <li><%= link_to 'My preferences', edit_user_path(current_user.id) %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      <% end %>
    </ul>
  </div>
  -->

  <% if current_user %>
    <%= link_to "Log out #{current_user.name}", session_path, :method => :delete, :class => 'pull-right' %>
  <% end %>

</div>
<!--
<div>
  <div class="breadcrumbs">
    <ul>
      <li class="first"><%= link_to 'Rubyric', root_url %></li>
      <% if @course && !@course.new_record? %>
        <li>/ <%= link_to "#{@course.code} #{@course.name}", @course %></li>
      <% end %>

      <% if @course_instance && !@course_instance.new_record? %>
        <li>/ <%= link_to "#{@course_instance.name}", course_instance_path(@course_instance) %></li>
      <% end %>

      <% if @exercise && !@exercise.new_record? %>
        <li>/ <%= link_to "#{@exercise.name}", @exercise %></li>
      <% end %>
    </ul>
  </div>
</div>
-->
