<div class="navbar">
  <div class="navbar-inner">
    <%= link_to root_path, :class => 'brand' do image_tag 'logo.png', :alt => 'Rubyric' end %>
    
    <ul class="nav pull-right">
      <% if current_user %>
        <li><%= link_to "My preferences", preferences_path, :class => 'pull-right' %></li>
        <li><%= link_to "Log out #{current_user.name}", session_path, :method => :delete, :class => 'pull-right' %></li>
      <% end %>
    </ul>
  </div>
</div>

<!--
<div>
  <div class="breadcrumbs">
    <ul>
      <li class="first"><%= link_to 'Rubyric', root_url %></li>
      <% if @course && !@course.new_record? %>
        <li>/ <%= link_to "#{@course.full_name}", @course %></li>
      <% end %>

      <% if @course_instance && !@course_instance.new_record? %>
        <li>/ <%= link_to "#{@course_instance.name}", course_instance_path(@course_instance) %></li>
      <% end %>

      <% if @exercise && !@exercise.new_record? %>
        <li>/ <%= link_to "#{@exercise.name}", @exercise %></li>
      <% end %>
    </ul>
  </div>
</div>
-->
