<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    <% if @exercise && !@exercise.new_record? %>
      <%= @exercise.name %> - Rubyric
    <% elsif @course && !@course.new_record? %>
      <%= @course.name %> - Rubyric
    <% else %>
      Rubyric
    <% end %>
  </title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
</head>

<body>

<%= render :template => 'layouts/top' %>

<div class="container-fluid">
  <div class="row-fluid">
    <!-- Content -->
    <div class="span10">
      <!-- Flash messages -->
      <% if flash[:warning] %>
        <div class="alert"><%= flash[:warning] %></div>
      <% end %>

      <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error"><%= flash[:error] %></div>
      <% end %>

      <%= yield  %>
    </div>

    <div class="span2 helpcolumn">
      <!--
      <div class="page-header">
        <h1>Help</h1>
      </div>

      <div id="context-help" class="well">
        <%= yield(:help) %>
      </div>
      -->
    </div>
  </div>
</div>

<%= render :partial => 'shared/analytics' -%>

</body>
</html>
