<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Rubyric
    <%= '- ' + @exercise.name if @exercise %>
  </title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
</head>

<body>

<%= render :template => 'layouts/top' %>

<div class="container-fluid">
  <div class="row-fluid">
    <!-- Content -->
    <div class="span10">
      <!-- Flash messages -->
      <% if flash[:warning] %>
        <p class="flash flashWarning"><%= flash[:warning] %></p>
      <% end %>

      <% if flash[:success] %>
        <p class="flash flashSuccess"><%= flash[:success] %></p>
      <% end %>

      <% if flash[:error] %>
        <p class="flash flashError"><%= flash[:error] %></p>
      <% end %>

      <%= yield  %>
    </div>

    <div class="span2 helpcolumn">
    </div>
  </div>
</div>

</body>
</html>
